@using System.Globalization
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using TightWiki
@using TightWiki.Plugin
@using TightWiki.Plugin.Interfaces
@using static TightWiki.Plugin.TwConstants
@inject ITwSharedLocalizationText Localizer
@inject ITwEngine TightEngine
@inject TwConfiguration WikiConfiguration

@{
    var sessionState = ViewData["SessionState"] as TwSessionState ?? throw new Exception("Wiki State Context cannot be null.");

    string navBarClass = $"navbar navbar-expand-sm {(WikiConfiguration.FixedMenuPosition ? "fixed-top" : "")} navbar-light bg-white border-bottom shadow-sm";
    var isPageProtected = sessionState.PageInstructions.Contains(WikiInstruction.Protect);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(sessionState.PageTitle ?? sessionState.Page.Name)</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">

    @if (!string.IsNullOrWhiteSpace(WikiConfiguration.HTMLHeader))
    {
        @Html.Raw(WikiConfiguration.HTMLHeader)
    }

    @if (WikiConfiguration.IncludeWikiDescriptionInMeta)
    {
        <meta name="description" content="@sessionState.Page.Description">
    }

    @if (WikiConfiguration.IncludeWikiTagsInMeta)
    {
        <meta name="keywords" content="@sessionState.PageTags">
    }

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/css/tabulator.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @if (sessionState.UserTheme.EditorTheme == "dark")
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/css/tabulator_midnight.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    }

    @foreach (var file in sessionState.UserTheme.Files)
    {
        if (file.StartsWith("http://", StringComparison.InvariantCultureIgnoreCase) || file.StartsWith("https://", StringComparison.InvariantCultureIgnoreCase))
        {
            <link rel="stylesheet" href="@file" />
        }
        else
        {
            <link rel="stylesheet" href="@Url.Content($"~{file}")" />
        }
    }

    <link rel="stylesheet" href="@Url.Content("~/css/base.css")" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/js/tabulator.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
    $(function () {
        localStorage.setItem('theme', '@sessionState.UserTheme.EditorTheme');

        $('nav')
            .removeClass('navbar-light bg-white')
            .addClass('@sessionState.UserTheme.ClassNavBar');

        $('a.nav-link')
            .removeClass('text-dark')
            .addClass('@sessionState.UserTheme.ClassNavLink');

        $('a.dropdown-item')
            .removeClass('text-dark')
            .addClass('@sessionState.UserTheme.ClassDropdown');

        $('.site-branding')
            .removeClass('text-dark')
            .addClass('@sessionState.UserTheme.ClassBranding');

        @if (WikiConfiguration.FixedMenuPosition) {
            <text>
                const navHeight = $('nav').outerHeight() + 20;
                $('#mainContainer').css('margin-top', navHeight + 'px');
            </text>
        }

        setTimeout(function () {
            document.querySelectorAll('.auto-dismiss-alert').forEach(function (alertElement) {
                if (alertElement) {
                    alertElement.classList.remove('show');
                    setTimeout(() => alertElement.remove(), 300);
                }
            });
        }, 5000);
    });
    </script>

    @RenderSection("Scripts", required: false)
</head>

<body>
    <header>
        <nav class="@navBarClass">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center gap-2" href="@WikiConfiguration.BasePath/">
                    <span class="site-branding d-inline-flex align-items-center gap-2">
                        <img src="@Url.Content(WikiConfiguration.BrandImageSmall)"
                             alt="@WikiConfiguration.Name"
                             style="max-height: 28px;" />
                        <span>@WikiConfiguration.Name</span>
                    </span>
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="mainNavbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                        @foreach (var item in WikiConfiguration.MenuItems)
                        {
                            if (item.Link.StartsWith("http://", StringComparison.InvariantCultureIgnoreCase) ||
                                item.Link.StartsWith("https://", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="@item.Link" target="_blank" rel="noopener">
                                        @Localizer[item.Name]
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="@WikiConfiguration.BasePath@item.Link">
                                        @Localizer[item.Name]
                                    </a>
                                </li>
                            }
                        }

                        @if (await sessionState.HoldsPermission(WikiPermission.Create)
                            || (sessionState.ShouldCreatePage && await sessionState.HoldsPermission(WikiPermission.Create))
                            || (sessionState.Page.Exists && await sessionState.HoldsPermission([WikiPermission.Edit, WikiPermission.Moderate, WikiPermission.Delete])))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="pageMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Localizer["Page"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="pageMenuDropdown">
                                    @if (await sessionState.HoldsPermission(WikiPermission.Create))
                                    {
                                        if (sessionState.ShouldCreatePage)
                                        {
                                            <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/Create">Create "@sessionState.PageNavigation"</a></li>
                                        }

                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Page/Create">@Localizer["Create new page"]</a></li>
                                    }

                                    @if (sessionState.Page.Exists)
                                    {
                                        @if (await sessionState.HoldsPermission(WikiPermission.Create))
                                        {
                                            <li><hr class="dropdown-divider"></li>
                                        }

                                        @if (await sessionState.HoldsPermission(WikiPermission.Read) && WikiConfiguration.EnablePageComments)
                                        {
                                            <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/Comments">@Localizer["Comments"]</a></li>
                                        }

                                        @if (!sessionState.Page.IsHistoricalVersion)
                                        {
                                            if ((!isPageProtected && await sessionState.HoldsPermission(WikiPermission.Edit))
                                                || (isPageProtected && await sessionState.HoldsPermission(WikiPermission.Moderate)))
                                            {
                                                <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/Delete">@Localizer["Delete this page"]</a></li>
                                                <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/Edit">@Localizer["Edit"]</a></li>
                                            }
                                        }

                                        @if (await sessionState.HoldsPermission(WikiPermission.Read))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/Revisions">@Localizer["Revisions"]</a></li>
                                        }

                                        @if (await sessionState.HoldsPermission(WikiPermission.Create))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/Refresh">@Localizer["Refresh"]</a></li>
                                        }

                                        @if (sessionState.Page.IsHistoricalVersion && await sessionState.HoldsPermission(WikiPermission.Moderate))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/revert/@sessionState.Page.Revision">@Localizer["Revert to revision"] @sessionState.Page.Revision</a></li>
                                        }

                                        @if (WikiConfiguration.EnablePageComments && await sessionState.HoldsPermission(WikiPermission.Read))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation">@Localizer["View"]</a></li>
                                        }

                                        @if (await sessionState.HoldsPermission(WikiPermission.Read))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/@sessionState.PageNavigation/Export">@Localizer["Export"]</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }

                        @if (sessionState.IsAuthenticated && await sessionState.HoldsPermission(WikiPermission.Moderate))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="adminMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Localizer["Admin"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="adminMenuDropdown">
                                    @if (sessionState.IsAdministrator)
                                    {
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/AdminSecurity/Accounts">@Localizer["Accounts"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/AdminSecurity/Roles">@Localizer["Roles"]</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Config">@Localizer["Configuration"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Emojis">@Localizer["Emojis"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/MenuItems">@Localizer["Site Menu"]</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/PageStatistics">@Localizer["Page Statistics"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Database">@Localizer["Database"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/EventLog">@Localizer["Event Log"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Metrics">@Localizer["Metrics"]</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/DeletedPages">@Localizer["Deleted Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/MissingPages">@Localizer["Missing Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Moderate">@Localizer["Moderate"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Namespaces">@Localizer["Namespaces"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/OrphanedPageAttachments">@Localizer["Orphaned Attachments"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Pages">@Localizer["Pages"]</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/DeletedPages">@Localizer["Deleted Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/MissingPages">@Localizer["Missing Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Moderate">@Localizer["Moderate"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Namespaces">@Localizer["Namespaces"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Admin/Pages">@Localizer["Pages"]</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (sessionState.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="myMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @Localizer["My"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="myMenuDropdown">
                                    <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Profile/My">@Localizer["Profile"]</a></li>
                                    <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Identity/Account/Manage">@Localizer["Account"]</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-dark" href="@WikiConfiguration.BasePath/Identity/Account/Logout?returnUrl=/">@Localizer["Logout"]</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@WikiConfiguration.BasePath/Identity/Account/Login?returnUrl=@UrlEncoder.Default.Encode($"{WikiConfiguration.BasePath}{Context.Request.Path.Value}")">
                                    @Localizer["Login"]
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="btn btn-link nav-link" href="@WikiConfiguration.BasePath/Page/Localization">
                                @CultureInfo.CurrentCulture.Name.ToUpperInvariant()
                            </a>
                        </li>
                    </ul>

                    @if (WikiConfiguration.IncludeSearchOnNavbar)
                    {
                        <form class="d-flex ms-sm-3 mt-2 mt-sm-0" role="search" method="get" action="@WikiConfiguration.BasePath/Page/Search">
                            <input class="form-control me-2"
                                   type="search"
                                   placeholder="@Localizer["Search text"]"
                                   name="SearchString"
                                   aria-label="@Localizer["Search"]" />
                            <button class="btn btn-outline-primary" type="submit">
                                @Localizer["Search"]
                            </button>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div id="mainContainer" class="container">
        <main role="main" class="pb-3">
            @Html.Raw(WikiConfiguration.HTMLPreBody)

            @if (await TightWiki.Repository.UsersRepository.AdminPasswordStatus() != WikiAdminPasswordChangeState.HasBeenChanged)
            {
                <div class="card shadow-sm border-warning mb-3">
                    <div class="card-header bg-warning-subtle border-warning">
                        <div class="fw-semibold text-dark">
                            <i class="bi bi-exclamation-triangle-fill me-2"></i>@Localizer["Default password has not been changed"]
                        </div>
                    </div>
                    <div class="card-body">
                        <strong>@Localizer["Current admin login"]:</strong><br />
                        <span class="ms-3"><strong>@Localizer["Username"]:</strong> "admin@tightwiki.com"</span><br />
                        <span class="ms-3"><strong>@Localizer["Password"]:</strong> "@TwConstants.DEFAULTPASSWORD"</span>
                    </div>
                </div>
            }

            @{
                Model.SuccessMessage = string.IsNullOrEmpty(Context.Request.Query["SuccessMessage"].ToString()) ? Model.SuccessMessage : Context.Request.Query["SuccessMessage"].ToString();
                Model.WarningMessage = string.IsNullOrEmpty(Context.Request.Query["WarningMessage"].ToString()) ? Model.WarningMessage : Context.Request.Query["WarningMessage"].ToString();
                Model.ErrorMessage = string.IsNullOrEmpty(Context.Request.Query["ErrorMessage"].ToString()) ? Model.ErrorMessage : Context.Request.Query["ErrorMessage"].ToString();
            }

            @if (!string.IsNullOrEmpty(Model.SuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show auto-dismiss-alert" role="alert">
                    <div class="fw-semibold">@Html.Raw(Model.SuccessMessage)</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.WarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="fw-semibold">@Html.Raw(Model.WarningMessage)</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="fw-semibold">@Html.Raw(Model.ErrorMessage)</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @RenderBody()

            @Html.Raw(WikiConfiguration.HTMLPostBody)
        </main>
    </div>

    <footer class="container pb-4">
        @if (WikiConfiguration.FooterBlurb != null || WikiConfiguration.Copyright != null)
        {
            <hr class="mt-5 mb-4" />

            @if (WikiConfiguration.FooterBlurb != null)
            {
                <div class="mb-2">
                    @Html.Raw(WikiConfiguration.FooterBlurb)
                </div>
            }

            @if (WikiConfiguration.Copyright != null)
            {
                <div class="text-muted small">
                    @Html.Raw(WikiConfiguration.Copyright)
                </div>
            }
        }

        @Html.Raw(WikiConfiguration.HTMLFooter)
    </footer>
</body>
</html>
