@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization
@using System.Text.Encodings.Web
@using TightWiki
@using TightWiki.Models
@using static TightWiki.Library.Constants

@using TightWiki.Resources

@{
    var sessionState = ViewData["SessionState"] as SessionState ?? throw new Exception("Wiki State Context cannot be null.");

    string navBarClass = $"navbar navbar-expand-sm {(TightWiki.Models.GlobalConfiguration.FixedMenuPosition ? "fixed-top" : "")} navbar-light bg-white border-bottom shadow-sm";
    var isPageProtected = sessionState.PageInstructions.Contains(WikiInstruction.Protect);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(sessionState.PageTitle ?? sessionState.Page.Name)</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">

    @if (!string.IsNullOrWhiteSpace(TightWiki.Models.GlobalConfiguration.HTMLHeader))
    {
        @Html.Raw(TightWiki.Models.GlobalConfiguration.HTMLHeader)
    }

    @if (TightWiki.Models.GlobalConfiguration.IncludeWikiDescriptionInMeta)
    {
        <meta name="description" content="@sessionState.Page.Description">
    }

    @if (TightWiki.Models.GlobalConfiguration.IncludeWikiTagsInMeta)
    {
        <meta name="keywords" content="@sessionState.PageTags">
    }

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/themes/base/jquery-ui.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/css/tabulator.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @if (sessionState.UserTheme.EditorTheme == "dark")
    {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/css/tabulator_midnight.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    }

    @foreach (var file in sessionState.UserTheme.Files)
    {
        if (file.StartsWith("http://", StringComparison.InvariantCultureIgnoreCase) || file.StartsWith("https://", StringComparison.InvariantCultureIgnoreCase))
        {
            <link rel="stylesheet" href="@file" />
        }
        else
        {
            <link rel="stylesheet" href="@Url.Content($"~{file}")" />
        }
    }

    <link rel="stylesheet" href="@Url.Content("~/css/base.css")" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.1/jquery-ui.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.bundle.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/6.3.1/js/tabulator.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(function () {
        localStorage.setItem('theme', '@sessionState.UserTheme.EditorTheme');

        $('nav')
        .removeClass('navbar-light bg-white')
        .addClass('@sessionState.UserTheme.ClassNavBar');

        $('a.nav-link')
        .removeClass('text-dark')
        .addClass('@sessionState.UserTheme.ClassNavLink');

        $('a.dropdown-item')
        .removeClass('text-dark')
        .addClass('@sessionState.UserTheme.ClassDropdown');

        $('.site-branding')
        .removeClass('text-dark')
        .addClass('@sessionState.UserTheme.ClassBranding');

        @if (TightWiki.Models.GlobalConfiguration.FixedMenuPosition)
        {
            <text>
                const navHeight = $('nav').outerHeight() + 20;
                $('#mainContainer').css('margin-top', navHeight + 'px');
            </text>
        }

        setTimeout(function () {
        document.querySelectorAll('.auto-dismiss-alert').forEach(function (alertElement) {
        if (alertElement) {
        alertElement.classList.remove('show');
        setTimeout(() => alertElement.remove(), 300);
        }
        });
        }, 5000);
        });
    </script>

    @RenderSection("Scripts", required: false)
</head>

<body>
    <header>
        <nav class="@navBarClass">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center gap-2" href="@GlobalConfiguration.BasePath/">
                    <span class="site-branding d-inline-flex align-items-center gap-2">
                        <img src="@Url.Content(TightWiki.Models.GlobalConfiguration.BrandImageSmall)"
                             alt="@TightWiki.Models.GlobalConfiguration.Name"
                             style="max-height: 28px;" />
                        <span>@TightWiki.Models.GlobalConfiguration.Name</span>
                    </span>
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="mainNavbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                        @foreach (TightWiki.Models.DataModels.MenuItem item in TightWiki.Models.GlobalConfiguration.MenuItems)
                        {
                            if (item.Link.StartsWith("http://", StringComparison.InvariantCultureIgnoreCase) ||
                                item.Link.StartsWith("https://", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="@item.Link" target="_blank" rel="noopener">
                                        @SharedLocalizer.Static[item.Name]
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="@GlobalConfiguration.BasePath@item.Link">
                                        @SharedLocalizer.Static[item.Name]
                                    </a>
                                </li>
                            }
                        }

                        @if (sessionState.HoldsPermission(WikiPermission.Create)
                                                    || (sessionState.ShouldCreatePage && sessionState.HoldsPermission(WikiPermission.Create))
                                                    || (sessionState.Page.Exists && sessionState.HoldsPermission([WikiPermission.Edit, WikiPermission.Moderate, WikiPermission.Delete])))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="pageMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @SharedLocalizer.Static["Page"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="pageMenuDropdown">
                                    @if (sessionState.HoldsPermission(WikiPermission.Create))
                                    {
                                        if (sessionState.ShouldCreatePage)
                                        {
                                            <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Create">Create "@sessionState.PageNavigation"</a></li>
                                        }

                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Page/Create">@SharedLocalizer.Static["Create new page"]</a></li>
                                    }

                                    @if (sessionState.Page.Exists)
                                    {
                                        @if (sessionState.HoldsPermission(WikiPermission.Create))
                                        {
                                            <li><hr class="dropdown-divider"></li>
                                        }

                                        @if (sessionState.HoldsPermission(WikiPermission.Read) && TightWiki.Models.GlobalConfiguration.EnablePageComments)
                                        {
                                            <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Comments">@SharedLocalizer.Static["Comments"]</a></li>
                                        }

                                        @if (!sessionState.Page.IsHistoricalVersion)
                                        {
                                            if ((!isPageProtected && sessionState.HoldsPermission(WikiPermission.Edit))
                                                || (isPageProtected && sessionState.HoldsPermission(WikiPermission.Moderate)))
                                            {
                                                <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Delete">@SharedLocalizer.Static["Delete this page"]</a></li>
                                                <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Edit">@SharedLocalizer.Static["Edit"]</a></li>
                                            }
                                        }

                                        @if (sessionState.HoldsPermission(WikiPermission.Read))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Revisions">@SharedLocalizer.Static["Revisions"]</a></li>
                                        }

                                        @if (sessionState.HoldsPermission(WikiPermission.Create))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Refresh">@SharedLocalizer.Static["Refresh"]</a></li>
                                        }

                                        @if (sessionState.Page.IsHistoricalVersion && sessionState.HoldsPermission(WikiPermission.Moderate))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/revert/@sessionState.Page.Revision">@SharedLocalizer.Static["Revert to revision"] @sessionState.Page.Revision</a></li>
                                        }

                                        @if (TightWiki.Models.GlobalConfiguration.EnablePageComments && sessionState.HoldsPermission(WikiPermission.Read))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation">@SharedLocalizer.Static["View"]</a></li>
                                        }

                                        @if (sessionState.HoldsPermission(WikiPermission.Read))
                                        {
                                            <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Export">@SharedLocalizer.Static["Export"]</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }

                        @if (sessionState.IsAuthenticated && sessionState.HoldsPermission(WikiPermission.Moderate))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="adminMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @SharedLocalizer.Static["Admin"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="adminMenuDropdown">
                                    @if (sessionState.IsAdministrator)
                                    {
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/AdminSecurity/Accounts">@SharedLocalizer.Static["Accounts"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/AdminSecurity/Roles">@SharedLocalizer.Static["Roles"]</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Config">@SharedLocalizer.Static["Configuration"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Emojis">@SharedLocalizer.Static["Emojis"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/MenuItems">@SharedLocalizer.Static["Site Menu"]</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/CompilationStatistics">@SharedLocalizer.Static["Compilations"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Database">@SharedLocalizer.Static["Database"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/EventLog">@SharedLocalizer.Static["Event Log"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Metrics">@SharedLocalizer.Static["Metrics"]</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/DeletedPages">@SharedLocalizer.Static["Deleted Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/MissingPages">@SharedLocalizer.Static["Missing Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Moderate">@SharedLocalizer.Static["Moderate"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Namespaces">@SharedLocalizer.Static["Namespaces"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/OrphanedPageAttachments">@SharedLocalizer.Static["Orphaned Attachments"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Pages">@SharedLocalizer.Static["Pages"]</a></li>
                                    }
                                    else
                                    {
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/DeletedPages">@SharedLocalizer.Static["Deleted Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/MissingPages">@SharedLocalizer.Static["Missing Pages"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Moderate">@SharedLocalizer.Static["Moderate"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Namespaces">@SharedLocalizer.Static["Namespaces"]</a></li>
                                        <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Admin/Pages">@SharedLocalizer.Static["Pages"]</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (sessionState.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="myMenuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @SharedLocalizer.Static["My"]
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="myMenuDropdown">
                                    <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Profile/My">@SharedLocalizer.Static["Profile"]</a></li>
                                    <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Identity/Account/Manage">@SharedLocalizer.Static["Account"]</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item text-dark" href="@GlobalConfiguration.BasePath/Identity/Account/Logout?returnUrl=/">@SharedLocalizer.Static["Logout"]</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="@GlobalConfiguration.BasePath/Identity/Account/Login?returnUrl=@UrlEncoder.Default.Encode($"{GlobalConfiguration.BasePath}{Context.Request.Path.Value}")">
                                    @SharedLocalizer.Static["Login"]
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="btn btn-link nav-link" href="@GlobalConfiguration.BasePath/Page/Localization">
                                @CultureInfo.CurrentCulture.Name.ToUpperInvariant()
                            </a>
                        </li>
                    </ul>

                    @if (TightWiki.Models.GlobalConfiguration.IncludeSearchOnNavbar)
                    {
                        <form class="d-flex ms-sm-3 mt-2 mt-sm-0" role="search" method="get" action="@GlobalConfiguration.BasePath/Page/Search">
                            <input class="form-control me-2"
                                   type="search"
                                   placeholder="@SharedLocalizer.Static["Search text"]"
                                   name="SearchString"
                                   aria-label="@SharedLocalizer.Static["Search"]" />
                            <button class="btn btn-outline-primary" type="submit">
                                @SharedLocalizer.Static["Search"]
                            </button>
                        </form>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div id="mainContainer" class="container">
        <main role="main" class="pb-3">
            @Html.Raw(TightWiki.Models.GlobalConfiguration.HTMLPreBody)

            @if (TightWiki.Repository.UsersRepository.AdminPasswordStatus() != TightWiki.Library.Constants.AdminPasswordChangeState.HasBeenChanged)
            {
                <div class="card shadow-sm border-warning mb-3">
                    <div class="card-header bg-warning-subtle border-warning">
                        <div class="fw-semibold text-dark">
                            <i class="bi bi-exclamation-triangle-fill me-2"></i>@SharedLocalizer.Static["Default password has not been changed"]
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">@SharedLocalizer.Static["Info1"]</div>
                        <div class="mb-3">@SharedLocalizer.Static["Info2"]</div>
                        <div>
                            <strong>@SharedLocalizer.Static["Current admin login"]:</strong><br />
                            <span class="ms-3"><strong>@SharedLocalizer.Static["Username"]:</strong> "admin@tightwiki.com"</span><br />
                            <span class="ms-3"><strong>@SharedLocalizer.Static["Password"]:</strong> "@TightWiki.Library.Constants.DEFAULTPASSWORD"</span>
                        </div>
                    </div>
                </div>
            }

            @{
                Model.SuccessMessage = string.IsNullOrEmpty(Context.Request.Query["SuccessMessage"].ToString()) ? Model.SuccessMessage : Context.Request.Query["SuccessMessage"].ToString();
                Model.WarningMessage = string.IsNullOrEmpty(Context.Request.Query["WarningMessage"].ToString()) ? Model.WarningMessage : Context.Request.Query["WarningMessage"].ToString();
                Model.ErrorMessage = string.IsNullOrEmpty(Context.Request.Query["ErrorMessage"].ToString()) ? Model.ErrorMessage : Context.Request.Query["ErrorMessage"].ToString();
            }

            @if (!string.IsNullOrEmpty(Model.SuccessMessage))
            {
                <div class="alert alert-success alert-dismissible fade show auto-dismiss-alert" role="alert">
                    <div class="fw-semibold">@Html.Raw(Model.SuccessMessage)</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.WarningMessage))
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="fw-semibold">@Html.Raw(Model.WarningMessage)</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="fw-semibold">@Html.Raw(Model.ErrorMessage)</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            @RenderBody()

            @Html.Raw(TightWiki.Models.GlobalConfiguration.HTMLPostBody)
        </main>
    </div>

    <footer class="container pb-4">
        @if (TightWiki.Models.GlobalConfiguration.FooterBlurb != null || TightWiki.Models.GlobalConfiguration.Copyright != null)
        {
            <hr class="mt-5 mb-4" />

            @if (TightWiki.Models.GlobalConfiguration.FooterBlurb != null)
            {
                <div class="mb-2">
                    @Html.Raw(TightWiki.Models.GlobalConfiguration.FooterBlurb)
                </div>
            }

            @if (TightWiki.Models.GlobalConfiguration.Copyright != null)
            {
                <div class="text-muted small">
                    @Html.Raw(TightWiki.Models.GlobalConfiguration.Copyright)
                </div>
            }
        }

        @Html.Raw(TightWiki.Models.GlobalConfiguration.HTMLFooter)
    </footer>
</body>
</html>
