@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Profile.ConfirmViewModel
@{
    Layout = "_Layout";
}
<div class="card">
    <div class="card-header">
        <h3>@Localizer["Account Email Verification"]</h3>
    </div>
    <div class="card-body">
        <p>
            @Localizer["Already a member?"] <a href="@GlobalConfiguration.BasePath/Account/Login">@Localizer["Login"]</a>.<br />
            @Localizer["Forgot your password?"] @Html.ActionLink(Localizer["Reset it"].Value, "Forgot", "Account").<br />
        </p>
    </div>
</div>
