@using TightWiki.Models

@using TightWiki.Resources

@model TightWiki.Models.ViewModels.Profile.ConfirmViewModel
@{
    Layout = "_Layout";
}
<div class="card shadow-lg">
    <div class="card-header">
        <h3>@SharedLocalizer.Static["Account Email Verification"]</h3>
    </div>
    <div class="card-body">
        <p>
            @SharedLocalizer.Static["Already a member?"] <a href="@GlobalConfiguration.BasePath/Account/Login">@SharedLocalizer.Static["Login"]</a>.<br />
            @SharedLocalizer.Static["Forgot your password?"] @Html.ActionLink(SharedLocalizer.Static["Reset it"].Value, "Forgot", "Account").<br />
        </p>
    </div>
</div>
