@using TightWiki.Models

@using TightWiki.Resources

@model TightWiki.Models.ViewModels.Profile.DeletedAccountViewModel
@{
    Layout = "_Layout";
}

<div class="card shadow-lg border-danger mb-3">
    <div class="card-header bg-danger text-white">
        <strong>@SharedLocalizer.Static["Account Deleted!"]</strong>
    </div>
    <div class="card-body">
        @SharedLocalizer.Static["The account has been deleted and all content that was created or modified by this account has been attributed to an anonymized profile."]
        <br /><br />

        @if (TightWiki.Models.GlobalConfiguration.AllowSignup == true)
        {
            @:@SharedLocalizer.Static["Not a member?"] <a href="@GlobalConfiguration.BasePath/Identity/Account/Register">@SharedLocalizer.Static["Register as a new user"]</a>.<br />
        }
        @SharedLocalizer.Static["Already a member?"] <a href="@GlobalConfiguration.BasePath/Identity/Account/Login">@SharedLocalizer.Static["Login"]</a>.<br />

    </div>
</div>
