@model TightWiki.Shared.Models.View.LoginModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="775768872451-csafs2mfptsp96u96mcg6ab6a93dvmsn.apps.googleusercontent.com">

<script>
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}
</script>

<div class="card">
    <div class="card-header"><h3>Existing Account Login</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Start contributing! Login so that you can start editing and creating pages. <br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="fixedTable100" border="0" cellpadding="5">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">

                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        @if (Model.SuccessMessage!= null)
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table border="0">
                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.EmailAddress)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.EmailAddress)</strong></td>
                                    <td>
                                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "input-control" })
                                    </td>
                                </tr>
                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.Password)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.Password)</strong></td>
                                    <td>
                                        @Html.PasswordFor(m => m.Password, new { @class = "input-control" })
                                    </td>
                                </tr>
                                <tr class="padded">
                                    <td>&nbsp;</td>
                                    <td>
                                        <div class="form-group"><button type="submit" class="btn btn-primary rounded-0">Login</button></div>
                                    </td>
                                </tr>

                                @if (ViewBag.Config.AllowGoogleAuthentication == true)
                                {
                                    <tr class="padded">
                                        <td>&nbsp;</td>
                                        <td>
                                            <br />
                                            <strong>Sign in another way?</strong><br />
                                            <script src="https://accounts.google.com/gsi/client" async defer></script>
                                            <div id="g_id_onload"
                                         data-client_id="@Singletons.GoogleAuthenticationClientId"
                                         data-login_uri="@ViewBag.Config.Address/Account/GoogleLogin?ReturnUrl=@ViewBag.ReturnUrl"
                                         data-auto_prompt="false">
                                            </div>
                                            <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                        <br />
                        <font size="3" face="ARIAL,HELVETICA">
                            @if (ViewBag.AllowSignup == true)
                            {
                                @:Not a member? @Html.ActionLink("Signup", "Signup", "Account").<br />
                            }
                            Forgot your password? @Html.ActionLink("Reset it", "Forgot", "Account").<br />
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
