@model TightWiki.Shared.Models.View.SignupModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h3>New Account Signup</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Become a contributor! Signup so that you can start editing and creating pages.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table border="0" width="600" cellpadding="5">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="center">

                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        @if (Model.SuccessMessage!= null)
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table border="0">

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.EmailAddress)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.EmailAddress)</strong></td>
                                    <td>
                                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "input-control" })
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.AccountName)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.AccountName)</strong></td>
                                    <td>
                                        @Html.TextBoxFor(m => m.AccountName, new { @class = "input-control" })
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.FirstName)</strong></td>
                                    <td>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "input-control" })
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.LastName)</strong></td>
                                    <td>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "input-control" })
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.TimeZone)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.TimeZone)</strong></td>
                                    <td>
                                        <select name="TimeZone" id="TimeZone">
                                            <option value="" style="color:#ccc !important;">
                                                Select a time-zone
                                            </option>
                                            @foreach (var item in ViewBag.TimeZones)
                                            {
                                                <option value="@item.Value" selected=@(Model.TimeZone == item.Value ? "selected" : "")>
                                                    @item.Text
                                                </option>
                                            }
                                        </select>
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.Country)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.Country)</strong></td>
                                    <td>

                                        <select name="Country" id="Country">
                                            <option value="" style="color:#ccc !important;">
                                                Select a country
                                            </option>
                                            @foreach (var item in ViewBag.Countries)
                                            {
                                                <option value="@item.Value" selected=@(Model.Country == item.Value ? "selected" : "")>
                                                    @item.Text
                                                </option>
                                            }
                                        </select>
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.Password)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.Password)</strong></td>
                                    <td>
                                        @Html.PasswordFor(m => m.Password, new { @class = "input-control" })
                                    </td>
                                </tr>
                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.ComparePassword)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.ComparePassword)</strong></td>
                                    <td>
                                        @Html.PasswordFor(m => m.ComparePassword, new { @class = "input-control" })
                                    </td>
                                </tr>

                                <tr class="padded">
                                    <td>&nbsp;</td>
                                    <td>
                                        <div class="form-group"><button type="submit" class="btn btn-primary rounded-0">Save!</button></div>
                                    </td>
                                </tr>
                            </table>
                        }

                        <font size="3" face="ARIAL,HELVETICA">
                            Already a member? <a href="/Account/Login">Login</a>.<br />
                            Forgot your password? @Html.ActionLink("Reset it!", "Forgot", "Account").<br />
                        </font>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
