@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.File.FileAttachmentViewModel
@{
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Theme:Begin -->
    @foreach (var file in sessionState.UserTheme.Files)
    {
        if (file.StartsWith("http://", StringComparison.InvariantCultureIgnoreCase) || file.StartsWith("https://", StringComparison.InvariantCultureIgnoreCase))
        {
            <link rel="stylesheet" href="@file" />
        }
        else
        {
            <link rel="stylesheet" href="@Url.Content($"~{file}")" />
        }
    }
    <!-- Theme:End-->

    <link rel="stylesheet" href="@Url.Content("~/css/base.css")" />

    <script>
        $(document).ready(function () {
            localStorage.setItem('theme', 'dark');
            $('nav').removeClass('navbar-light bg-white').addClass('@sessionState.UserTheme.ClassNavBar');
            $('a.nav-link').removeClass('text-dark').addClass('@sessionState.UserTheme.ClassNavLink');
            $('a.dropdown-item').removeClass('text-dark').addClass('@sessionState.UserTheme.ClassDropdown');
            $('span.glyphicon').removeClass('text-dark').addClass('@sessionState.UserTheme.ClassBranding');

            $('a[href="#detachLink"]').click(function (e) {
                var fileName = e.target.id;
                if (confirm("@(Localizer["Are you sure you want to detach"]) '" + fileName + "'?")) {
                    $.ajax({
                        type: 'POST',
                        url: '@GlobalConfiguration.BasePath/File/Detach/@Model.PageNavigation/' + fileName + '/@Model.PageRevision',
                        success: function (result) {
                            $("#uploadedFiles").load("@GlobalConfiguration.BasePath/File/PageAttachments/@Model.PageNavigation");
                        }
                    });
                }
            });
        });

        function copyToClipboard(text, element) {

            var ext = text.split('.').pop().toLowerCase();
            if (ext.includes('png') || ext.includes('jpg') || ext.includes('jpeg') || ext.includes('gif') || ext.includes('bmp')) {
                text = '##Image(' + text + ')';
            }
            else {
                text = '##File(' + text + ')';
            }

            navigator.clipboard.writeText(text).then(function () {
                var originalText = element.innerHTML;
                var originalClass = element.className;

                element.innerHTML = '<i class="bi bi-check-circle"></i> @(Localizer["Tag Copied"])';
                element.className = 'btn btn-thin btn-success';

                setTimeout(function () {
                    element.innerHTML = originalText;
                    element.className = originalClass;
                }, 2000);
            }).catch(function (error) {
                console.error('@(Localizer["Error copying text"]): ', error);
            });
        }

    </script>
</head>

<body>
    @foreach (var x in Model.Files)
    {
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div class="ms-1 mb-1">
                <a href="@GlobalConfiguration.BasePath/File/Binary/@x.PageNavigation/@x.FileNavigation" target="_blank">@x.Name</a> <span class="file-meta">(@x.FriendlySize)</span>
                <a href="@GlobalConfiguration.BasePath/File/Revisions/@x.PageNavigation/@x.FileNavigation" target="_blank">@x.FileRevision @Localizer["revisions"]</a>
            </div>
            <div class="d-inline-flex gap-1">
                <button class="btn btn-thin btn-primary me-0" onclick="copyToClipboard('@x.Name', this); return false;">
                    <i class="bi bi-clipboard"></i>@Localizer["Copy Tag"]
                </button>
                @if (@sessionState.CanDelete == true)
                {
                    <button type="button"class="btn btn-thin btn-danger ms-0" data-file="@x.FileNavigation" onclick="detachFile(this.dataset.file)"> @Localizer["Detach"]</button>
                }
            </div>
        </div>
    }
</body>
</html>
