@model TightWiki.Models.ViewModels.File.FileAttachmentViewModel
@{
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @foreach (var file in wikiContext.UserTheme.Files)
    {
        <link rel="stylesheet" href="@file" />
    }

    <link id="themeStylesheet" rel="stylesheet" href="" />
    <script>
        $(document).ready(function () {
            localStorage.setItem('theme', 'dark');
            $('nav').removeClass('navbar-light bg-white').addClass('@wikiContext.UserTheme.ClassNavBar');
            $('a.nav-link').removeClass('text-dark').addClass('@wikiContext.UserTheme.ClassNavLink');
            $('a.dropdown-item').removeClass('text-dark').addClass('@wikiContext.UserTheme.ClassDropdown');
            $('span.glyphicon').removeClass('text-dark').addClass('@wikiContext.UserTheme.ClassBranding');
        });
    </script>


    <script src="~/js/deleteAttachment.js"></script>
</head>
<body>
    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            @foreach (var x in Model.Files)
            {
                <tr>
                    <td>
                        <a href="/File/Binary/@x.PageNavigation/@x.FileNavigation" target="_blank"> @x.Name</a> [@x.FriendlySize]
                    </td>
                    <td>
                        <a href="/File/Revisions/@x.PageNavigation/@x.FileNavigation" target="_blank">@x.FileRevision revisions</a>
                    </td>
                    <td>
                        @if (@wikiContext.CanDelete == true)
                        {
                            <a href="#deleteLink" id="@x.FileNavigation"> Delete </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
