@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1>@ViewBag.Title</h1>
    <h4>
        This form takes a single word locates other words in the database that sound similar according to the <a href="https://en.wikipedia.org/wiki/Metaphone">Metaphone</a> alogrithm.
        Feel free to add a % sign to the beginning and/or end of the word to match wildcards.
    </h4>
    <hr />
</div>

<form action="?" method="post" class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <strong>Single Word:</strong> <input name="Word" type="text" class="form-control" value="@ViewBag.Word">
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
</form>

<div class="row">
    <article class="col-xs-12">
        <table width="100%" border="1" class="styled-table">
            <thead>
                <tr>
                    <td><strong>Word</strong></td>
                    <td><strong>Language</strong></td>
                    <td><strong>Dirty?</strong></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td><font face="MS Sans Serif, Geneva" size="2">@x.Text</font></td>
                        <td><font face="MS Sans Serif, Geneva" size="2">@x.Language</font></td>
                        <td><font face="MS Sans Serif, Geneva" size="2">@x.IsDirty</font></td>
                    </tr>
                }
            </tbody>
        </table>
    </article>
</div>
