@model TightWiki.Shared.Models.View.PageCommentsModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h3><a href="/@ViewBag.Context.PageNavigation">@ViewBag.Context.Title</a> Comments</h3></div>
    <div class="card-body">

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="table fixedTable100" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="top" align="left">

                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        @if (Model.SuccessMessage != null)
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }

                        @using (Html.BeginForm())
                        {
                            if (ViewBag.Context.IsAuthenticated == true)
                            {
                                <div class="form-outline mb-4">
                                    <button type="submit" value="Find" style="float: right" class="btn btn-primary rounded-0">Post</button>
                                    <div style="overflow: hidden; padding-right: .5em;">
                                        <input type="text" name="Comment" id="Comment" class="form-control" placeholder="Type comment..." />
                                    </div>
                                </div>
                            }
                            else
                            {
                                @:<a href="/Account/Login">Login to leave a comment</a>.
                            }

                            @foreach (var h in Model.Comments)
                            {
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p>@Html.DisplayTextFor(x => h.Body)</p>

                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <img src="/Account/@h.UserName/Avatar?Exact=16" />
                                                <p class="small mb-0 ms-2"><cite>@Html.DisplayTextFor(x => h.UserName) @@ @Html.DisplayTextFor(x => h.CreatedDate)</cite></p>
                                            </div>
                                            @if (h.UserId == ViewBag?.Context?.User?.Id)
                                            {
                                                <div class="d-flex flex-row align-items-center">
                                                    <p class="small text-muted mb-0"><a href="?Delete=@h.Id" onclick="return confirm('Are you sure you want to delete this comment?')" >Delete</a></p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            @:<center>
                            if (@ViewBag.PaginationCount > 1)
                            {
                                if (@ViewBag.PreviousPage != null)
                                {
                                    <a href="/@ViewBag.Context.PageNavigation/Comments/1">&lt;&lt; First</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/@ViewBag.Context.PageNavigation/Comments/@ViewBag.PreviousPage">&lt; Previous</a>
                                }
                                else
                                {
                                    @:&lt;&lt; First &nbsp; | &nbsp; &lt; Previous
                                }
                                @:&nbsp; | &nbsp;

                                if (@ViewBag.NextPage != null)
                                {
                                    <a href="/@ViewBag.Context.PageNavigation/Comments/@ViewBag.NextPage">Next &gt;</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/@ViewBag.Context.PageNavigation/Comments/@ViewBag.PaginationCount">Last &gt;&gt;</a>
                                }
                                else
                                {
                                    @:Next &gt; &nbsp; | &nbsp; Last &gt;&gt;
                                }
                            }
                            @:</center>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
