@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Page.PageDisplayViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<!-- Syntax Highlighter:Begin -->
<script src="@Url.Content("~/syntax/highlight.min.js")"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    hljs.highlightAll();
});
</script>
<!-- Syntax Highlighter:End -->

@if (Model.Revision < Model.MostCurrentRevision)
{
    <div class="card border-info mb-3">
        <div class="card-header bg-info">
        <strong>@Localizer["Viewing a historical version"]</strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                @Localizer.Format("You are viewing revision {0} of \"{1}\" modified by {2} on {3}.", Model.Revision, Model.Name, Model.ModifiedByUserName, Model.ModifiedDate)<br />

                <a class="btn btn-success btn-thin" href="@GlobalConfiguration.BasePath/@Model.Navigation">@Localizer["View latest revision"]</a>
                @if(sessionState.CanModerate)
                {
                    <a class="btn btn-warning btn-thin" href="@GlobalConfiguration.BasePath/@Model.Navigation/revert/@Model.Revision">@Localizer["Revert to revision"] @Model.Revision</a>
                }
            </p>
        </div>
    </div>
}

@Html.Raw(Model.Body)

@if (TightWiki.Models.GlobalConfiguration.ShowLastModifiedOnPageFooter && string.IsNullOrWhiteSpace(@Model.ModifiedByUserName) == false && Model.HideFooterLastModified != true)
{
    <br />
    if (TightWiki.Models.GlobalConfiguration.EnablePublicProfiles)
    {
        <small><cite title="Modified By">@Localizer["Last modified by"] <a href="@GlobalConfiguration.BasePath/Profile/@Model.ModifiedByUserName/Public">@Model.ModifiedByUserName</a> @@ @Model.ModifiedDate</cite></small>
    }
    else
    {
        <small><cite title="Modified By">@Localizer["Last modified by"] @Model.ModifiedByUserName @@ @Model.ModifiedDate</cite></small>
    }
    <br />
}

@if (Model.HideFooterComments == false)
{
    @if (TightWiki.Models.GlobalConfiguration.EnablePageComments && TightWiki.Models.GlobalConfiguration.ShowCommentsOnPageFooter)
    {
        <hr class="mt-5 mb-5">
        <h2>@Localizer["Comments"]</h2>
    }
    @if (TightWiki.Models.GlobalConfiguration.EnablePageComments && TightWiki.Models.GlobalConfiguration.ShowCommentsOnPageFooter)
    {
        if (@sessionState.IsAuthenticated == true)
        {
            <form method="post" action="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Comments">
                <div class="container">
                    <div class="d-flex justify-content-end mb-4">
                        <div class="flex-grow-1 me-2">
                            <input type="text" name="Comment" id="Comment" class="form-control" placeholder="@Localizer["Type comment..."]" />
                        </div>
                        <button type="submit" value="Post" class="btn btn-primary">@Localizer["Post"]</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            @:<a href="@GlobalConfiguration.BasePath/Identity/Account/Login?returnUrl=@Context.Request.Path.Value">@Localizer["Login to leave a comment"]</a>.
            <br />
        }
    }
    @if (TightWiki.Models.GlobalConfiguration.EnablePageComments && TightWiki.Models.GlobalConfiguration.ShowCommentsOnPageFooter && Model.Comments != null && Model.Comments.Count > 0)
    {
        <div class="container mt-4">
            @foreach (var h in Model.Comments)
            {
                <div class="border rounded mb-2 p-2">
                    <p class="mb-1">@Html.Raw(h.Body)</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center small text-muted mb-0">
                            <img src="@GlobalConfiguration.BasePath/Profile/@h.UserNavigation/Avatar?Exact=16" class="rounded-circle me-2" alt="Avatar" />
                            <a href="@GlobalConfiguration.BasePath/Profile/@h.UserNavigation/Public" class="small text-decoration-none mb-0">@Html.DisplayTextFor(x => h.UserName)</a>
                            &nbsp;&nbsp;<p class="small text-decoration-none text-muted mb-0">@Html.DisplayTextFor(x => h.CreatedDate)</p>
                        </div>
                        @if (sessionState.CanModerate == true || h.UserId == sessionState.Profile?.UserId)
                        {
                            <a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Comments?Delete=@h.Id" class="small text-danger text-decoration-none" onclick="return confirm('@Localizer["Are you sure you want to delete this comment?"]')">@Localizer["Delete"]</a>
                        }
                    </div>
                </div>
            }
        </div>
    }
    @if (TightWiki.Models.GlobalConfiguration.EnablePageComments && TightWiki.Models.GlobalConfiguration.ShowCommentsOnPageFooter)
    {
        <a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Comments">@Localizer["View all comments"]</a>
    }
}
