@model TightWiki.Library.ViewModels.Page.PageHistoryViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var context = ViewData["Context"] as TightWiki.Library.Library.StateContext;
}

<div class="card">
    <div class="card-header"><h3>Page History</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            All changes that have been made to the page. <br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="table fixedTable100 table-bordered" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">

                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        @using (Html.BeginForm())
                        {
                            <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <td><strong>Revision</strong></td>
                                        <td><strong>Modified By</strong></td>
                                        <td><strong>Modified Date</strong></td>
                                        <td><strong>Summary</strong></td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var h in Model.History)
                                    {
                                        <tr>
                                            <td><a href="/@context?.PageNavigation/@h.Revision" target="_blank" rel="noopener">@Html.DisplayTextFor(x => h.Revision)</a></td>
                                            <td><a href="/Profile/Public/@h.ModifiedByUserName">@Html.DisplayTextFor(x => h.ModifiedByUserName)</a></td>
                                            <td>@Html.DisplayTextFor(x => h.ModifiedDate)</td>
                                            <td>@Html.DisplayTextFor(x => h.ChangeSummary)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            if (@context?.PaginationCount > 1)
                            {
                                if (@context?.PreviousPage != null)
                                {
                                    <a href="/@context?.PageNavigation/History/1">&lt;&lt; First</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/@context?.PageNavigation/History/@context?.PreviousPage">&lt; Previous</a>
                                }
                                else
                                {
                                    @:&lt;&lt; First &nbsp; | &nbsp; &lt; Previous
                                }
                                @:&nbsp; | &nbsp;

                                if (@context?.NextPage != null)
                                {
                                    <a href="/@context?.PageNavigation/History/@context?.NextPage">Next &gt;</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/@context?.PageNavigation/History/@context?.PaginationCount">Last &gt;&gt;</a>
                                }
                                else
                                {
                                    @:Next &gt; &nbsp; | &nbsp; Last &gt;&gt;
                                }
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
