@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Page.PageRevertViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<div class="card border-warning mb-3">
    <div class="card-header bg-warning">
        <strong>@Localizer.Format("Revert to revision {0}?", sessionState.Page.Revision)</strong>
    </div>
    <div class="card-body">
        @Localizer.Format("Reverting \"{0}\" from revision {1} to {2} will rollback {3} changes.", (Model.PageName ?? ""), sessionState.Page.MostCurrentRevision, sessionState.Page.Revision, Model.HigherRevisionCount)<br /><br />
        @Localizer["Reverting does not mean that changes will be lost however, the revert process will create a new revision with the reverted changes."]<br /><br />
        @Localizer["Are you sure you want to continue?"]<br /><br />

        @using (Html.BeginForm(null, null, FormMethod.Post, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}" }))
        {
            <div class="form-group"><button type="submit" class="btn btn-warning" name="IsActionConfirmed" value="true">@Localizer["Yes"]</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success" name="IsActionConfirmed" value="false">@Localizer["No"]</button></div>
        }
    </div>
</div>
