@model TightWiki.Shared.Models.View.PageRevertModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
{
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
}

<table class="fixedTable100" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="52" valign="middle" align="left">

                @if (Model.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@Model.ErrorMessage</div>
                }
                @if (Model.SuccessMessage!= null)
                {
                    <div class="alert alert-success">@Model.SuccessMessage</div>
                }

                <div class="panel panel-info">
                    <div class="card-header">Revert to revision @ViewBag.Config.PageRevision?</div>
                    <div class="card-body">

                        <strong>Reverting "@ViewBag.PageName" from revision @ViewBag.MostCurrentRevision to @ViewBag.Config.PageRevision will rollback @ViewBag.CountOfRevisions changes.</strong><br />
                        Reverting does not mean that changes will be lost however, the revert process will create a new revision with the reverted changes.<br /><br />
                        Are you sure you want to continue?<br /><br />

                        @using (Html.BeginForm())
                        {
                            <div class="form-group"><button type="submit" class="btn btn-primary rounded-0" name="Action" value="true">Yes</button>&nbsp;&nbsp;<button type="submit" class="btn btn-primary rounded-0" name="Action" value="false">No</button></div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
