@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Page.RevisionsViewModel
@using TightWiki.Library
@using TightWiki.Models
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Page revisions for"] <a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation">@sessionState.Page.Name</a>.
</h3>

<p>
    @Localizer["All changes that have been made to the page."]
</p>

@using (Html.BeginForm(null, null, FormMethod.Get, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}" }))
{
    @if (Model.Revisions.Count > 0)
    {
        @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
        <br />

        <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Revision")">@Localizer["Revision"]</a></strong></td>
                    <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "ModifiedBy")">@Localizer["Modified By"]</a></strong></td>
                    <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "ModifiedDate")">@Localizer["Modified Date"]</a></strong></td>

                    @if (GlobalConfiguration.ShowChangeSummaryWhenEditing)
                    {
                        <td><strong>@Localizer["Summary"]</strong></td>
                    }
                    <td><strong>@Localizer["Analysis"]</strong></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var h in Model.Revisions)
                {
                    <tr>
                        <td><a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/@h.Revision" target="_blank" rel="noopener">@Html.DisplayTextFor(x => h.Revision)</a></td>
                        <td><a href="@GlobalConfiguration.BasePath/Profile/@h.ModifiedByUserName/Public">@Html.DisplayTextFor(x => h.ModifiedByUserName)</a></td>
                        <td>@Html.DisplayTextFor(x => h.ModifiedDate)</td>
                        @if (GlobalConfiguration.ShowChangeSummaryWhenEditing)
                        {
                            <td><a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Compare/@h.Revision"><div class="ellipsis200">@Html.DisplayTextFor(x => h.ChangeSummary)</div></a></td>
                        }
                        <td><a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/Compare/@h.Revision">@Html.DisplayTextFor(x => h.ChangeAnalysis)</a></td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
    }
    else
    {
        <div class="d-flex small text-muted mb-0">
            <strong>
                @Localizer["The selected page does not have any revisions."]
            </strong>
        </div>
    }
}
