@model TightWiki.Models.ViewModels.Page.RevisionsViewModel
@using TightWiki.Library
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    Page Revisions for <a href="/@wikiContext.PageNavigation">@wikiContext.Page.Name</a>.
</h3>

<p class="text-dark">
    All changes that have been made to the page. <br /><br />
</p>

<table class="table fixedTable100 table-bordered" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="52" valign="middle" align="left">
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                }
                @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                }

                @using (Html.BeginForm(FormMethod.Get))
                {
                    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <td><strong><a href="?@QueryStringConverter.OrderHelper(wikiContext, "Revision")">Revision</a></strong></td>
                                <td><strong><a href="?@QueryStringConverter.OrderHelper(wikiContext, "ModifiedBy")">Modified By</a></strong></td>
                                <td><strong><a href="?@QueryStringConverter.OrderHelper(wikiContext, "ModifiedDate")">Modified Date</a></strong></td>
                                <td><strong>Summary</strong></td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var h in Model.Revisions)
                            {
                                <tr>
                                    <td><a href="/@wikiContext.PageNavigation/@h.Revision" target="_blank" rel="noopener">@Html.DisplayTextFor(x => h.Revision)</a></td>
                                    <td><a href="/Profile/Public/@h.ModifiedByUserName">@Html.DisplayTextFor(x => h.ModifiedByUserName)</a></td>
                                    <td>@Html.DisplayTextFor(x => h.ModifiedDate)</td>
                                    <td>@Html.DisplayTextFor(x => h.ChangeSummary)</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
                }
            </td>
        </tr>
    </tbody>
</table>
