@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Page.PageSearchViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Page Search"]
</h3>

<p>
    @Localizer["If it's here, you should be able to find it."]
</p>

@using (Html.BeginForm(null, null, FormMethod.Get, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}" }))
{
    <div class="d-flex justify-content-end mb-4">
        <div class="flex-grow-1 me-2">
            @Html.TextBoxFor(x => x.SearchString, new { @class = "form-control", style = "width:100%" })
        </div>
        <button type="submit" value="Find" class="btn btn-primary">@Localizer["Search"]</button>
    </div>

    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
    <br />

    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        @foreach (var p in Model.Pages)
        {
            <tr>
                <td>
                    @if ((p.Namespace ?? "") != "")
                    {
                        <font class="text-muted">@p.Namespace ::</font>
                    }<a href="@GlobalConfiguration.BasePath/@p.Navigation">@p.Title</a>@(String.IsNullOrEmpty(@p.Description) ? "" : " : ")  @p.Description
                </td>
            </tr>
        }
    </table>

    if (Model.Pages.Count == 0 && String.IsNullOrEmpty(Model.SearchString) == false)
    {
        <div class="d-flex small text-muted mb-0">
            <strong>
                @Localizer["Your search criteria resulted in no pages, simplify your search text."]
            </strong>
        </div>
    }

    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
}

<script>
    window.onload = function () {
        document.getElementById("SearchString").focus();
    }
</script>