@model TightWiki.Shared.Models.View.AccountsModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    tr.padded td {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading"><h2>Accounts</h2></div>
    <div class="panel-body">
        <font size="4" face="ARIAL,HELVETICA">
            Global configuration for user accounts.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table border="0" width="100%" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="center">

                        @if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger">@ViewBag.Error</div>
                        }
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success">@ViewBag.Success</div>
                        }

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table class="table table-striped" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <td><strong>Account</strong></td>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Country</strong></td>
                                        <td><strong>Time Zone</strong></td>
                                        <td><strong>Email Address</strong></td>
                                        <td><strong>Created</strong></td>
                                        <td><strong>Last Login</strong></td>
                                    </tr>
                                </thead>

                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td><a href="/Admin/Account/@user.Navigation">@user.AccountName</a></td>
                                        <td>@user.FirstName @user.LastName</td>
                                        <td>@user.Country</td>
                                        <td>@user.TimeZone</td>
                                        <td>@user.EmailAddress  @Html.Raw(((user.EmailVerified == true) ? "&check;" : ""))   </td>
                                        <td>@user.CreatedDate</td>
                                        <td>@user.LastLoginDate</td>
                                    </tr>
                                }
                            </table>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
