@model SharpWiki.Shared.Models.View.UserProfileModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    tr.padded td {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
</style>

<div class="jumbotron">
    <h2>User account profile</h2>
    <font size="4" face="ARIAL,HELVETICA">
        This is your user profile, do with it what you may.<br /><br />
    </font>

    @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
    {
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
    }

    <table border="0" width="600" cellpadding="5">
        <tbody>
            <tr>
                <td height="52" valign="middle" align="center">
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">@ViewBag.Success</div>
                    }

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <table border="0">

                            <tr class="padded">
                                <td width="200"><strong>Avatar</strong></td>
                                <td>
                                    @Html.HiddenFor(x => x.Navigation)
                                    <img src="/User/@Model.Navigation/Avatar?max=150" /><br />
                                    <input type="file" id="Avatar" name="Avatar" onchange="fileCheck(this);" />
                                </td>
                            </tr>

                            <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.EmailAddress)</div></td></tr>
                            <tr class="padded">
                                <td><strong>@Html.LabelFor(m => m.EmailAddress)</strong></td>
                                <td>
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "input-control" })
                                </td>
                            </tr>

                            <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.AccountName)</div></td></tr>
                            <tr class="padded">
                                <td><strong>@Html.LabelFor(m => m.AccountName)</strong></td>
                                <td>
                                    @Html.TextBoxFor(m => m.AccountName, new { @class = "input-control" })
                                </td>
                            </tr>

                            <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</div></td></tr>
                            <tr class="padded">
                                <td><strong>@Html.LabelFor(m => m.FirstName)</strong></td>
                                <td>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "input-control" })
                                </td>
                            </tr>

                            <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</div></td></tr>
                            <tr class="padded">
                                <td><strong>@Html.LabelFor(m => m.LastName)</strong></td>
                                <td>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "input-control" })
                                </td>
                            </tr>

                            <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.TimeZone)</div></td></tr>
                            <tr class="padded">
                                <td><strong>@Html.LabelFor(m => m.TimeZone)</strong></td>
                                <td>
                                    <select name="TimeZone" id="TimeZone">
                                        <option value="" style="color:#ccc !important;">
                                            Select a time-zone
                                        </option>
                                        @foreach (var item in ViewBag.TimeZones)
                                        {
                                            <option value="@item.Value" @(Model.TimeZone == item.Value ? "selected" : "")>
                                                @item.Text
                                            </option>
                                        }
                                    </select>
                                </td>
                            </tr>

                            <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.Country)</div></td></tr>
                            <tr class="padded">
                                <td><strong>@Html.LabelFor(m => m.Country)</strong></td>
                                <td>

                                    <select name="Country" id="Country">
                                        <option value="" style="color:#ccc !important;">
                                            Select a country
                                        </option>
                                        @foreach (var item in ViewBag.Countries)
                                        {
                                            <option value="@item.Value" @(Model.Country == item.Value ? "selected" : "")>
                                                @item.Text
                                            </option>
                                        }
                                    </select>
                                </td>
                            </tr>

                            <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.AboutMe)</div></td></tr>
                            <tr class="padded">
                                <td><strong>@Html.LabelFor(m => m.AboutMe)</strong></td>
                                <td>
                                    @Html.TextAreaFor(x => x.AboutMe, new { style = "width:100%;height:200px", Name = "AboutMe" })
                                </td>
                            </tr>

                            <tr class="padded">
                                <td>&nbsp;</td>
                                <td>
                                    <div class="form-group"><button type="submit" class="btn btn-primary rounded-0">Save!</button></div>
                                </td>
                            </tr>
                        </table>
                    }

                    <font size="3" face="ARIAL,HELVETICA">
                        Already a member? <a href="/User/Login">Login</a>.<br />
                        Forgot your password? @Html.ActionLink("Reset it!", "Forgot", "User").<br />
                    </font>

                </td>
            </tr>
        </tbody>
    </table>
</div>
