@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-globe"></span> @Html.Raw(ViewBag.Name)</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="/Home/Browse" class="list-group-item">Browse</a></li>
                            <li><a href="/Home/Translate" class="list-group-item">Translate</a></li>
                            <li><a href="/Home/SoundsLikeSoundEx" class="list-group-item">Sounds Like (SoundEx)</a></li>
                            <li><a href="/Home/SoundsLikeMetaphone" class="list-group-item">Sounds Like (Metaphone)</a></li>
                            <li><a href="/Home/SoundsLikeDoubleMetaphone" class="list-group-item">Sounds Like (Double-Metaphone)</a></li>
                            <li><a href="/Home/Synonyms" class="list-group-item">Synonyms</a></li>
                        </ul>
                    </li>

                    <!--<li class="active"><a href="/Wiki/Edit/@ViewBag.Navigation">Edit</a></li>-->
                    <li><a href="/Wiki/Edit/@ViewBag.Navigation">Edit</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>
        @if (ViewBag.FooterBlurb != null)
        {
        <div class="footer-blurb">
            <div class="container">
                <div class="row">@Html.Raw(ViewBag.FooterBlurb)</div>
            </div>
        </div>
        }
        @if (ViewBag.Copyright != null)
        {
        <div class="small-print">
            <div class="container">
                <p>@Html.Raw(ViewBag.Copyright)</p>
            </div>
        </div>
        }
    </footer>

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/holder.min.js"></script>
</body>
</html>
