@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Admin.AccountProfileViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Account"]
</h3>

<p>
    @Localizer["Configuration for user account."]<br /><br />
</p>

@using (Html.BeginForm(null, null, new { navigation = Model.AccountProfile.Navigation }, FormMethod.Post, true, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <form>
        @Html.HiddenFor(m => m.AccountProfile.UserId)
        @Html.HiddenFor(m => m.AccountProfile.Navigation)

        <div class="form-group row mb-1">
            <label for="Avatar" class="col-sm-2 col-form-label"><strong>@Localizer["Avatar"]</strong></label>
            <div class="col-sm-10">
                @if (@Model.AccountProfile.Navigation != "")
                {
                    <img src="@GlobalConfiguration.BasePath/Profile/@Model.AccountProfile.Navigation/Avatar?max=150" class="mb-3" />
                }
                <input type="file" id="Avatar" name="Avatar" class="form-control-file" onchange="fileCheck(this);" />
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="EmailAddress" class="col-sm-2 col-form-label"><strong>@Localizer["Email Address"]</strong></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.AccountProfile.EmailAddress, new { @class = "form-control" })
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.EmailAddress)</div>
            </div>
        </div>
        <div class="form-group row mb-1">
            <label for="EmailConfirmed" class="col-sm-2 col-form-label"><strong>@Localizer["Email Confirmed?"]</strong></label>
            <div class="col-sm-10">
                @Html.CheckBoxFor(m => m.AccountProfile.EmailConfirmed, new { @class = "input-control" })
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="AccountName" class="col-sm-2 col-form-label"><strong>@Localizer["Account Name"]</strong></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.AccountProfile.AccountName, new { @class = "form-control" })
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.AccountName)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="FirstName" class="col-sm-2 col-form-label"><strong>@Localizer["First Name"]</strong></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.AccountProfile.FirstName, new { @class = "form-control" })
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.FirstName)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="LastName" class="col-sm-2 col-form-label"><strong>@Localizer["Last Name"]</strong></label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.AccountProfile.LastName, new { @class = "form-control" })
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.LastName)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="Role" class="col-sm-2 col-form-label"><strong>@Localizer["Role"]</strong></label>
            <div class="col-sm-10">
                <select name="AccountProfile.Role" id="AccountProfile.Role" class="form-control">
                    <option value="" style="color:#ccc !important;">@Localizer["Select a role"]</option>
                    @foreach (var item in Model.Roles)
                    {
                        <option value="@item.Name" selected=@(Model.AccountProfile.Role == item.Name ? "selected" : null)>
                            @item.Name
                        </option>
                    }
                </select>
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.Role)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="Theme" class="col-sm-2 col-form-label"><strong>@Localizer["Theme"]</strong></label>
            <div class="col-sm-10">
                <select name="AccountProfile.Theme" id="AccountProfile.Theme" class="form-control">
                    <option value="">@Localizer["System Default"]</option>
                    @foreach (var item in Model.Themes)
                    {
                        <option value="@item.Name" selected=@(Model.AccountProfile.Theme == item.Name ? "selected" : null)>
                            @item.Name
                        </option>
                    }
                </select>
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.Theme)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="Country" class="col-sm-2 col-form-label"><strong>@Localizer["Country"]</strong></label>
            <div class="col-sm-10">
                <select name="AccountProfile.Country" id="AccountProfile.Country" class="form-control">
                    <option value="" style="color:#ccc !important;">@Localizer["Select a country"]</option>
                    @foreach (var item in Model.Countries)
                    {
                        <option value="@item.Value" selected=@(Model.AccountProfile.Country == item.Value ? "selected" : null)>
                            @item.Text
                        </option>
                    }
                </select>
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.Country)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="Language" class="col-sm-2 col-form-label"><strong>@Localizer["Language"]</strong></label>
            <div class="col-sm-10">
                <select name="AccountProfile.Language" id="AccountProfile.Language" class="form-control">
                    <option value="" style="color:#ccc !important;">@Localizer["Select a language"]</option>
                    @foreach (var item in Model.Languages)
                    {
                        <option value="@item.Value" selected=@(Model.AccountProfile.Language == item.Value ? "selected" : null)>
                            @item.Text
                        </option>
                    }
                </select>
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.Language)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="TimeZone" class="col-sm-2 col-form-label"><strong>@Localizer["Time Zone"]</strong></label>
            <div class="col-sm-10">
                <select name="AccountProfile.TimeZone" id="AccountProfile.TimeZone" class="form-control">
                    <option value="" style="color:#ccc !important;">@Localizer["Select a time-zone"]</option>
                    @foreach (var item in Model.TimeZones)
                    {
                        <option value="@item.Value" selected=@(Model.AccountProfile.TimeZone == item.Value ? "selected" : null)>
                            @item.Text
                        </option>
                    }
                </select>
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.TimeZone)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="Password" class="col-sm-2 col-form-label"><strong>@Localizer["Password"]</strong></label>
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Credential.Password, new { @class = "form-control", value = Model.Credential.Password })
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Credential.Password)</div>
            </div>
        </div>
        <div class="form-group row mb-1">
            <label for="ComparePassword" class="col-sm-2 col-form-label"><strong>@Localizer["Confirm Password"]</strong></label>
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Credential.ComparePassword, new { @class = "form-control", value = Model.Credential.Password })
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Credential.ComparePassword)</div>
            </div>
        </div>

        <div class="form-group row mb-1">
            <label for="Biography" class="col-sm-2 col-form-label"><strong>@Localizer["Biography"]</strong></label>
            <div class="col-sm-10">
                @Html.TextAreaFor(m => m.AccountProfile.Biography, new { @class = "form-control", style = "height:200px", Name = "Biography" })
                <div class="text-danger">@Html.ValidationMessageFor(m => m.AccountProfile.Biography)</div>
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn btn-primary">@Localizer["Save"]</button>
            </div>
        </div>
    </form>
}
<br />

<form action="@GlobalConfiguration.BasePath/Admin/DeleteAccount/@Model.AccountProfile.Navigation">
    <button type="submit" class="btn btn-danger">@Localizer["Delete Account"]</button>
</form>
