@model TightWiki.Shared.Models.View.AccountsModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h3>Accounts</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Global configuration for user accounts.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">

                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        @if (Model.SuccessMessage!= null)
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <td><strong>Account</strong></td>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Country</strong></td>
                                        <td><strong>Time Zone</strong></td>
                                        <td><strong>Email Address</strong></td>
                                        <td><strong>Created</strong></td>
                                        <td><strong>Last Login</strong></td>
                                    </tr>
                                </thead>

                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td><a href="/Admin/Account/@user.Navigation">@user.AccountName</a></td>
                                        <td>@user.FirstName @user.LastName</td>
                                        <td>@user.Country</td>
                                        <td>@user.TimeZone</td>
                                        <td>@user.EmailAddress  @Html.Raw(((user.EmailVerified == true) ? "&check;" : ""))   </td>
                                        <td>@user.CreatedDate</td>
                                        <td>@user.LastLoginDate</td>
                                    </tr>
                                }
                            </table>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
