@model TightWiki.Models.ViewModels.Admin.AccountsViewModel
@using TightWiki.Library
@using TightWiki.Models
@inject IViewLocalizer Localizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Accounts"]
</h3>

<p>
    @Localizer["Global configuration for user accounts."]<br /><br />
</p>

<div class="d-flex justify-content-between align-items-center mb-3" id="toolbar">
    <div>
        @*Left-aligned "toolbar" controls*@
        <a class="btn btn-success" href="@GlobalConfiguration.BasePath/Admin/AddAccount">@Localizer["Add new account"]</a>
    </div>

    <div>
        @*Right-aligned "toolbar" controls*@
    </div>
</div>

<div class="d-flex justify-content-end mb-4">
    <div class="flex-grow-1 me-2">
        @Html.TextBoxFor(x => x.SearchString, new { @class = "form-control" })
    </div>
    <button type="submit" value="Search" class="btn btn-primary">@Localizer["Search"]</button>
</div>

@if (Model.Users.Count > 0)
{
    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
    <br />

    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Account")">@Localizer["Account"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "FirstName")">@Localizer["First Name"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "LastName")">@Localizer["Last Name"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Country")">@Localizer["Country"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "TimeZone")">@Localizer["TimeZone"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "EmailAddress")">@Localizer["EmailAddress"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Created")">@Localizer["CreatedDate"]</a></strong></td>
            </tr>
        </thead>

        @foreach (var user in Model.Users)
        {
            <tr>
                <td><a href="@GlobalConfiguration.BasePath/Admin/Account/@user.Navigation">@user.AccountName</a></td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Country</td>
                <td>@user.TimeZone</td>
                <td>@user.EmailAddress  @Html.Raw(((user.EmailConfirmed == true) ? "&check;" : ""))   </td>
                <td>@user.CreatedDate</td>
            </tr>
        }
    </table>

    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
}
else
{
    <div class="d-flex small text-muted mb-0">
        <strong>
            @Localizer["Either there are no accounts configured or your search criteria returned no results."]
        </strong>
    </div>
}

<script>
    window.onload = function () {
        document.getElementById("SearchString").focus();
    }
</script>
