@model TightWiki.Library.ViewModels.Admin.AccountsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h3>Accounts</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Global configuration for user accounts.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">

                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        <form action="/Admin/AddAccount"><button type="submit" class="btn btn-primary">Add new account</button></form> <br />

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table class="fixedTable100" border="0" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td width="80%">
                                        @Html.TextBoxFor(x => x.SearchToken, new { style = "width:100%" })
                                    </td>
                                    <td colspan="2"><button type="submit" class="btn btn-primary rounded-0 btn-sm">Go</button></td>
                                </tr>
                            </table>

                            <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">

                                <thead>
                                    <tr>
                                        <td><strong>Account</strong></td>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Country</strong></td>
                                        <td><strong>Time Zone</strong></td>
                                        <td><strong>Email Address</strong></td>
                                        <td><strong>Created</strong></td>
                                    </tr>
                                </thead>

                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td><a href="/Admin/Account/@user.Navigation">@user.AccountName</a></td>
                                        <td>@user.FirstName @user.LastName</td>
                                        <td>@user.Country</td>
                                        <td>@user.TimeZone</td>
                                        <td>@user.EmailAddress  @Html.Raw(((user.EmailConfirmed == true) ? "&check;" : ""))   </td>
                                        <td>@user.CreatedDate</td>
                                    </tr>
                                }
                            </table>

                            if (@ViewBag.PaginationCount > 1)
                            {
                                if (@ViewBag.PreviousPage != null)
                                {
                                    <a href="/Admin/Accounts/1?Token=@Model.SearchToken">&lt;&lt; First</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/Admin/Accounts/@ViewBag.PreviousPage?Token=@Model.SearchToken">&lt; Previous</a>
                                }
                                else
                                {
                                    @:&lt;&lt; First &nbsp; | &nbsp; &lt; Previous
                                }
                                @:&nbsp; | &nbsp;

                                if (@ViewBag.NextPage != null)
                                {
                                    <a href="/Admin/Accounts/@ViewBag.NextPage?Token=@Model.SearchToken">Next &gt;</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/Admin/Accounts/@ViewBag.PaginationCount?Token=@Model.SearchToken">Last &gt;&gt;</a>
                                }
                                else
                                {
                                    @:Next &gt; &nbsp; | &nbsp; Last &gt;&gt;
                                }
                            }
                        }

                        <br />
                        <form action="/Admin/AddAccount"><button type="submit" class="btn btn-primary">Add new account</button></form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
