@model TightWiki.Models.ViewModels.Admin.AddEmojiViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {

        const imageData = document.getElementById('ImageData');
        const categories = document.getElementById('Categories');
        const name = document.getElementById('Name');

        imageData.addEventListener('change', (event) => {
            const selectedFile = event.target.files[0];
            name.value = selectedFile.name.substr(0, selectedFile.name.lastIndexOf('.')).replace(/ /g, '-').replace(/_/g, '-');
            categories.value = name.value.replace(/-/g, ',');
        });
    });
</script>

<div class="card">
    <div class="card-header"><h3>Add Emoji</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Configuration to add an emoji.<br /><br />
        </font>

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">
                        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
                        {
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                        }
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        @using (Html.BeginForm(null, null, null, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.OriginalName)
                            @Html.HiddenFor(model => model.Id)

                            <table border="0">

                                <tr class="padded">
                                    <td width="200"><strong>Image</strong></td>
                                    <td>
                                        <input type="file" id="ImageData" name="ImageData" onchange="fileCheck(this);" accept="image/png, image/jpeg, image/gif" />
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.Name)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.Name)</strong></td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Name, new { @class = "input-control" })
                                    </td>
                                </tr>

                                <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.Categories)</div></td></tr>
                                <tr class="padded">
                                    <td><strong>@Html.LabelFor(m => m.Categories)</strong>  (comma separated)</td>
                                    <td>
                                        @Html.TextBoxFor(m => m.Categories, new { @class = "input-control" })
                                    </td>
                                </tr>

                                <tr class="padded">
                                    <td>&nbsp;</td>
                                    <td>
                                        <div class="form-group"><button type="submit" class="btn btn-primary rounded-0">Save!</button></div>
                                    </td>
                                </tr>
                            </table>
                        }
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
