@model TightWiki.Models.ViewModels.Admin.PageCompilationStatisticsViewModel
@using TightWiki.Library
@using TightWiki.Models
@inject IViewLocalizer Localizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Compilations"]
</h3>

<p>
    @Localizer["The compilation statistics for all wiki page operations."]<br /><br />
</p>

<div class="d-flex justify-content-between align-items-center mb-3" id="toolbar">
    <div>
        @*Left-aligned "toolbar" controls*@
        @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateWarnLink(GlobalConfiguration.BasePath,
            Localizer["Purging the page compilation statistics will delete all of the stored compilation statistics for all pages. Continue?"].Value,
            Localizer["Purge Compilation Statistics"].Value, "/Admin/PurgeCompilationStatistics", Context.Request.Path.Value))
    </div>

    <div>
        @*Right-aligned "toolbar" controls*@
    </div>
</div>

@if (Model.Statistics.Count > 0)
{
    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
    <br />

    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Namespace")">@Localizer["Name"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "CreatedDate")">@Localizer["Date/Time"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Compilations")">@Localizer["Compilations"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "AvgBuildTimeMs")">@Localizer["Duration"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "AvgWikiMatches")">@Localizer["Matches"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "TotalErrorCount")">@Localizer["Errors"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "AvgOutgoingLinkCount")">@Localizer["Links"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "AvgTagCount")">@Localizer["Tags"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "AvgRawBodySize")">@Localizer["Raw Size"]</a></strong></td>
            <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "AvgWikifiedBodySize")">@Localizer["Wikified Size"]</a></strong></td>
        </tr>

        @foreach (var stat in Model.Statistics)
        {
            <tr>
                <td>
                    @if (string.IsNullOrEmpty(@stat.Namespace) == false)
                    {
                        <text><a href="@GlobalConfiguration.BasePath/Admin/Namespace/@stat.Namespace">@stat.Namespace</a> :: </text>
                    } <a href="@GlobalConfiguration.BasePath/@stat.Navigation">@stat.Title</a>
                </td>
                <td>@stat.LatestBuild</td>
                <td>@stat.Compilations.ToString("N0")</td>
                <td>@stat.AvgBuildTimeMs.ToString("N0")ms</td>
                <td>@stat.AvgWikiMatches.ToString("N0")</td>
                <td>@stat.TotalErrorCount.ToString("N0")</td>
                <td>@stat.AvgOutgoingLinkCount.ToString("N0")</td>
                <td>@stat.AvgTagCount.ToString("N0")</td>
                <td>@NTDLS.Helpers.Formatters.FileSize((long)stat.AvgRawBodySize)</td>
                <td>@NTDLS.Helpers.Formatters.FileSize((long)stat.AvgWikifiedBodySize)</td>
            </tr>
        }
    </table>

    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
}
