@model TightWiki.Shared.Models.View.ConfirmActionModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
{
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
}

<table class="fixedTable100" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="52" valign="middle" align="left">

                @if (Model.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@Model.ErrorMessage</div>
                }
                @if (Model.SuccessMessage!= null)
                {
                    <div class="alert alert-success">@Model.SuccessMessage</div>
                }

                <div class="panel panel-danger">
                    <div class="card-header"><strong>Are you sure?</strong></div>
                    <div class="card-body">

                        @Model.Message<br /><br />

                        <form action='@Model.PostBackURL' method="post">
                            @Html.HiddenFor(m => m.PostBackURL)
                            @Html.HiddenFor(m => m.ActionToConfirm)
                            <div class="form-group"><button type="submit" class="btn btn-danger rounded-0" name="ConfirmAction" value="true">Yes</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success rounded-0" name="ConfirmAction" value="false">No</button></div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>