@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Admin.DatabaseViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Database"]
</h3>

<p>
    @Localizer["Various utilities to assist in management of the SQLite database."]
</p>

<table class="table fixedTable100 table-striped" border="0" width="100%" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td><strong>@Localizer["Name"]</strong></td>
            <td><strong>@Localizer["Version"]</strong></td>
            <td><strong>@Localizer["Size"]</strong></td>
            <td><strong>@Localizer["Action"]</strong></td>
        </tr>
    </thead>

    @foreach (var info in Model.Info)
    {
        <tr>
            <td>@info.Name</td>
            <td>@info.Version</td>
            <td>@NTDLS.Helpers.Formatters.FileSize((long)info.DatabaseSize)</td>
            <td>
                @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateSafeLink(GlobalConfiguration.BasePath, 
                    Localizer["This will optimize the database indexes and structure. Continue?"].Value,
                    Localizer["Optimize"].Value, $"/Admin/Database/Optimize/{info.Name}", Context.Request.Path.Value, @class: "btn-thin rounded-0"))
                @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateSafeLink(GlobalConfiguration.BasePath,
                    Localizer["This will remove empty space from the database, which can free space if a lot of data has been deleted. Continue?"].Value,
                    Localizer["Vacuum"].Value, $"/Admin/Database/Vacuum/{info.Name}", Context.Request.Path.Value, @class: "btn-thin rounded-0"))
                @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateSafeLink(GlobalConfiguration.BasePath,
                    Localizer["This will check the database integrity and validate all foreign keys. Continue?"].Value,
                    Localizer["Verify"].Value, $"/Admin/Database/Verify/{info.Name}", Context.Request.Path.Value, @class: "btn-thin rounded-0"))
            </td>
        </tr>
    }
</table>
