@model TightWiki.Models.ViewModels.Admin.DeletedPagesViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<div class="card">
    <div class="card-header"><h3>Deleted Pages</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Pages that have been deleted. Can be purged or restored.<br /><br />
        </font>

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateDangerButton("This will permanently purge all deleted pages. Continue?",
                                 "Purge Deleted Pages", "/Admin/PurgeDeletedPages", "", "/Admin/DeletedPages", "/Admin/DeletedPages"))
                        <br />

                        @using (Html.BeginForm(FormMethod.Get))
                        {
                            <table class="fixedTable100" border="0" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td width="80%">
                                        @Html.TextBoxFor(x => x.SearchString, new { style = "width:100%" })
                                    </td>
                                    <td colspan="2"><button type="submit" class="btn btn-primary rounded-0 btn-sm">Go</button></td>
                                </tr>
                            </table>
                            <br />

                            <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
                                @foreach (var p in Model.Pages)
                                {
                                    <tr>
                                        <td><a href="/Admin/DeletedPage/@p.Id">View</a></td>
                                        <td>
                                            @if ((p.Namespace ?? "") != "")
                                            {
                                                <font class="text-muted">@p.Namespace ::</font>
                                            }@p.Title@(String.IsNullOrEmpty(@p.Description) ? "" : " : ")  @p.Description
                                        </td>
                                    </tr>
                                }
                            </table>

                            @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    window.onload = function () {
        document.getElementById("SearchTokens").focus();
    }
</script>
