@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Profile.DeleteAccountViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="card border-danger mb-3">
        <div class="card-header bg-danger text-white">
            <strong>@Localizer["Delete account {0}?"].Value(Model.AccountName ?? "")</strong>
        </div>
        <div class="card-body">
            @Localizer["Deleting \"{0}\" will permanently remove the account. All pages created or modified by this user will be attributed to a stand-in account."].Value(Model.AccountName ?? "")
            <strong>@Localizer["You will not be able to revert this action."]</strong>
            <br /><br />

            @Localizer["Are you sure you want to continue with this deletion?"]<br /><br />

            @using (Html.BeginForm(null, null, FormMethod.Post, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}" }))
            {
                <div class="form-group"><button type="submit" class="btn btn-danger" name="IsActionConfirmed" value="true">@Localizer["Yes"]</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success" name="IsActionConfirmed" value="false">@Localizer["No"]</button></div>
            }
        </div>
    </div>
}
