@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Admin.EmojiViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="card card-danger border-danger">
        <div class="card-header bg-danger text-white">
            <strong>@Localizer["Delete emoji \"{0}\"?"].Value(Model?.OriginalName ?? "")</strong>
        </div>
        <div class="card-body">
            @Localizer["Deleting the emoji \"{0}\" will permanently remove the image. Any references to it will be orphaned."].Value(Model?.OriginalName ?? "")
            <strong>@Localizer["You will not be able to revert this deletion."]</strong>
            <br /><br />

            @Localizer["Are you sure you want to continue with this deletion?"]<br /><br />

            @using (Html.BeginForm(null, null, FormMethod.Post, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}" }))
            {
                <div class="form-group"><button type="submit" class="btn btn-danger" name="IsActionConfirmed" value="true">@Localizer["Yes"]</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success" name="IsActionConfirmed" value="false">@Localizer["No"]</button></div>
            }
        </div>
    </div>
}

