@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Admin.EmojiViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>@Localizer["Emoji"]</h3>

<p>@Localizer["Configuration for an emoji."]</p>

@using (Html.BeginForm(null, null, new { navigation = Model.Emoji.Name }, FormMethod.Post, true, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.OriginalName)
    @Html.HiddenFor(m => m.Emoji.Id)


    <div class="form-group row mb-1">
        <label for="ImageData" class="col-sm-2 col-form-label"><strong>@Localizer["Image"]</strong></label>
        <div class="col-sm-10">
            @if (@Model.Emoji.Name != "")
            {
                <img src="@GlobalConfiguration.BasePath/File/Emoji/@Model.Emoji.Name" class="mb-3" />
                <br />
            }
            <input type="file" id="ImageData" name="ImageData" class="form-control-file" onchange="fileCheck(this);" accept="image/png, image/jpeg, image/gif" />
        </div>
    </div>

    <div class="form-group row mb-1">
        <label for="Name" class="col-sm-2 col-form-label"><strong>@Localizer["Name"]</strong></label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Emoji.Name, new { @class = "form-control" })
            <div class="text-danger">@Html.ValidationMessageFor(m => m.Emoji.Name)</div>
        </div>
    </div>

    <div class="form-group row mb-1">
        <label for="Categories" class="col-sm-2 col-form-label"><strong>@Localizer["Categories"]</strong></label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Categories, new { @class = "form-control" })
            <div class="text-danger">@Html.ValidationMessageFor(m => m.Categories)</div>
        </div>
    </div>

    <div class="form-group row mb-1">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-success">@Localizer["Save"]</button>
        </div>
    </div>
}

<form action="@GlobalConfiguration.BasePath/Admin/DeleteEmoji/@Model.Emoji.Name">
    <button type="submit" class="btn btn-danger mt-2">@Localizer["Delete Emoji"]</button>
</form>
