@model TightWiki.Shared.Models.View.EmojisModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h3>Emojis</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Global configuration for Emojis.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">

                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        @if (Model.SuccessMessage!= null)
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }

                        <form action="/Admin/AddEmoji"><button type="submit" class="btn btn-primary">Add new emoji</button></form> <br />

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table class="fixedTable100" border="0" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td width="80%">
                                        @Html.TextBoxFor(x => x.Categories, new { style = "width:100%" })
                                    </td>
                                    <td colspan="2"><button type="submit" class="btn btn-primary rounded-0 btn-sm">Go</button></td>
                                </tr>
                            </table>

                            <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">

                                <thead>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Shortcut</strong></td>
                                        <td><strong>Image</strong></td>
                                    </tr>
                                </thead>

                                @foreach (var emoji in Model.Emojis)
                                {
                                    <tr>
                                        <td><a href="/Admin/Emoji/@emoji.Name">@emoji.Name</a></td>
                                        <td>@emoji.Shortcut</td>
                                        <td><img src="/File/Emoji/@emoji.Name" alt="@emoji.Name" /></td>
                                    </tr>
                                }
                            </table>

                            if (@ViewBag.PaginationCount > 1)
                            {
                                if (@ViewBag.PreviousPage != null)
                                {
                                    <a href="/Admin/Emojis/1?Categories=@Model.Categories">&lt;&lt; First</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/Admin/Emojis/@ViewBag.PreviousPage?Categories=@Model.Categories">&lt; Previous</a>
                                }
                                else
                                {
                                    @:&lt;&lt; First &nbsp; | &nbsp; &lt; Previous
                                }
                                @:&nbsp; | &nbsp;

                                if (@ViewBag.NextPage != null)
                                {
                                    <a href="/Admin/Emojis/@ViewBag.NextPage?Categories=@Model.Categories">Next &gt;</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/Admin/Emojis/@ViewBag.PaginationCount?Categories=@Model.Categories">Last &gt;&gt;</a>
                                }
                                else
                                {
                                    @:Next &gt; &nbsp; | &nbsp; Last &gt;&gt;
                                }
                            }
                        }

                        <br />
                        <form action="/Admin/AddEmoji"><button type="submit" class="btn btn-primary">Add new emoji</button></form> <br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
