@model TightWiki.Models.ViewModels.Admin.EventLogViewModel
@using TightWiki.Library
@using TightWiki.Models
@inject IViewLocalizer Localizer
@{
    Layout = "_Layout";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Event Log"]
</h3>

<p>
    @Localizer["Server and page event logs."]
</p>

<div id="toolbar" class="d-flex justify-content-between align-items-center mb-3 p-2 border rounded bg-light shadow-sm">
    <div>
        @*Left-aligned "toolbar" controls*@
        @TightWiki.Library.ConfirmActionHelper.GenerateWarnButton(GlobalConfiguration.BasePath,
        @Localizer["This will permanently purge all event logs. Continue?"].Value,
                @Localizer["Purge Event Log"].Value, "/Admin/PurgeEventLog", Context.Request.Path.Value)
    </div>

    <div>
        @*Right-aligned "toolbar" controls*@
    </div>
</div>

@if (Model.LogEntries.Count > 0)
{
    @TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount)
    <br />

    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Id")">@Localizer["Id"]</a></strong></td>
                <td><strong>@Localizer["Severity"]</strong></td>
                <td><strong>@Localizer["Text"]</strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "CreatedDate")">@Localizer["Date/Time"]</a></strong></td>
            </tr>
        </thead>

        @foreach (var ex in Model.LogEntries)
        {
            <tr>
                <td><a href="@GlobalConfiguration.BasePath/Admin/EventLogEntry/@ex.Id">@ex.Id</a></td>
                <td>@ex.Severity</td>
                <td>@ex.Text</td>
                <td>@ex.CreatedDate</td>
            </tr>
        }
    </table>

    @TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount)
}
else
{
    <div class="d-flex small text-muted mb-0">
        <strong>
            @Localizer["The event log is empty."]
        </strong>
    </div>
}
