@using TightWiki.Models
@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Admin.EventLogEntryViewModel
@{
    Layout = "_Layout";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Event Log Entry."]
</h3>

<table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
    <tr><td><strong>@Localizer["Id"]</strong></td></tr>
    <tr><td>@Model.LogEntry.Id</td></tr>
    <tr><td><strong>@Localizer["Severity"]</strong></td></tr>
    <tr><td>@Model.LogEntry.Severity</td></tr>
    <tr><td><strong>@Localizer["Date/Time"]</strong></td></tr>
    <tr><td>@Model.LogEntry.CreatedDate</td></tr>
    @if (string.IsNullOrEmpty(Model.LogEntry.Text) == false)
    {
        <tr><td><strong>@Localizer["Text"]</strong></td></tr>
        <tr><td>@Model.LogEntry.Text</td></tr>
    }
    @if (string.IsNullOrEmpty(Model.LogEntry.ExceptionText) == false)
    {
        <tr><td><strong>@Localizer["Exception"]</strong></td></tr>
        <tr><td>@Model.LogEntry.ExceptionText</td></tr>
    }
    @if (string.IsNullOrEmpty(Model.LogEntry.StackTrace) == false)
    {
        <tr><td><strong>@Localizer["Stack Trace"]</strong></td></tr>
        <tr><td>@Model.LogEntry.StackTrace</td></tr>
    }
</table>
