@model TightWiki.Models.ViewModels.Admin.ExceptionsViewModel
@using TightWiki.Library
@using TightWiki.Models
@inject IViewLocalizer Localizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Exceptions"]
</h3>

<p>
    @Localizer["Server and page exceptions."]<br /><br />
</p>

<div class="d-flex justify-content-between align-items-center mb-3" id="toolbar">
    <div>
        @*Left-aligned "toolbar" controls*@
        @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateWarnLink(GlobalConfiguration.BasePath,
            @Localizer["This will permanently purge all exceptions. Continue?"].Value,
            @Localizer["Purge Exceptions"].Value, "/Admin/PurgeExceptions", Context.Request.Path.Value))
    </div>

    <div>
        @*Right-aligned "toolbar" controls*@
    </div>
</div>

@if (Model.Exceptions.Count > 0)
{
    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
    <br />

    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Id")">@Localizer["Id"]</a></strong></td>
                <td><strong>@Localizer["Text"]</strong></td>
                <td><strong>@Localizer["Exception"]</strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "CreatedDate")">@Localizer["Date/Time"]</a></strong></td>
            </tr>
        </thead>

        @foreach (var ex in Model.Exceptions)
        {
            <tr>
                <td><a href="@GlobalConfiguration.BasePath/Admin/Exception/@ex.Id">@ex.Id</a></td>
                <td>@ex.Text</td>
                <td>@ex.ExceptionText</td>
                <td>@ex.CreatedDate</td>
            </tr>
        }
    </table>

    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
}
else
{
    <div class="d-flex small text-muted mb-0">
        <strong>
            @Localizer["The exception log is currently empty."]
        </strong>
    </div>
}
