@model TightWiki.Models.ViewModels.Admin.MenuItemsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<div class="card">
    <div class="card-header"><h3>Site Menu</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Global configuration for the site menu.<br /><br />
        </font>

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        <form action="/Admin/MenuItem"><button type="submit" class="btn btn-primary">Add new item</button></form>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">

                                <thead>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                        <td><strong>Link</strong></td>
                                        <td><strong>Ordinal</strong></td>
                                    </tr>
                                </thead>

                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td><a href="/Admin/MenuItem/@item.Id">@item.Name</a></td>
                                        <td>@item.Link</td>
                                        <td>@item.Ordinal</td>
                                    </tr>
                                }
                            </table>
                        }

                        <br />
                        <form action="/Admin/MenuItem"><button type="submit" class="btn btn-primary">Add new item</button></form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
