@model TightWiki.ViewModels.Admin.MissingPagesViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<div class="card">
    <div class="card-header"><h3>Missing Pages</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Pages that have been linked to, but do not exist.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">

                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <td><strong>Source Page</strong></td>
                                        <td><strong>Target Page</strong></td>
                                    </tr>
                                </thead>

                                @foreach (var p in Model.Pages)
                                {
                                    <tr>
                                        <td><a href="/@p.SourcePageNavigation">@p.SourcePageName</a></td>
                                        <td><a href="/@p.TargetPageNavigation/Edit?Name=@p.TargetPageName">@p.TargetPageName</a></td>
                                    </tr>
                                }
                            </table>

                            if (@wikiContext?.PaginationCount > 1)
                            {
                                if (@wikiContext?.PreviousPage != null)
                                {
                                    <a href="/Admin/MissingPages/1">&lt;&lt; First</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/Admin/MissingPages/@wikiContext?.PreviousPage">&lt; Previous</a>
                                }
                                else
                                {
                                    @:&lt;&lt; First &nbsp; | &nbsp; &lt; Previous
                                }
                                @:&nbsp; | &nbsp;

                                if (@wikiContext?.NextPage != null)
                                {
                                    <a href="/Admin/MissingPages/@wikiContext?.NextPage">Next &gt;</a>
                                    @:&nbsp; | &nbsp;
                                    <a href="/Admin/MissingPages/@wikiContext?.PaginationCount">Last &gt;&gt;</a>
                                }
                                else
                                {
                                    @:Next &gt; &nbsp; | &nbsp; Last &gt;&gt;
                                }
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
