@model TightWiki.Models.ViewModels.Admin.PagesViewModel
@using TightWiki.Library
@using TightWiki.Models
@inject IViewLocalizer Localizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Pages"]
</h3>

<p>
    @Localizer["All pages contained in the wiki."]<br /><br />
</p>

<div class="d-flex justify-content-between align-items-center mb-3" id="toolbar">
    <div>
        @*Left-aligned "toolbar" controls*@
        @Html.Raw(ConfirmActionHelper.GenerateWarnLink(GlobalConfiguration.BasePath,
            Localizer["This will rebuild all pages in the wiki. This could take some time! Continue?"].Value,
            Localizer["Rebuild All Pages"].Value, "/Admin/RebuildAllPages", Context.Request.Path.Value))

        @Html.Raw(ConfirmActionHelper.GenerateWarnLink(GlobalConfiguration.BasePath,
            Localizer["This will compile all pages in the wiki and store them in cache. This could take some time! Continue?"].Value,
            Localizer["Pre-Cache All Pages"].Value, "/Admin/PreCacheAllPages", Context.Request.Path.Value))

        @Html.Raw(ConfirmActionHelper.GenerateDangerLink(GlobalConfiguration.BasePath,
            Localizer["Truncating the page revisions will delete all the revision history for all pages and page attachments. This will leave only the most current revision of all objects. This is generally considered a big deal! Continue?"].Value,
            Localizer["Truncate Page Revisions"].Value, "/Admin/TruncatePageRevisions", Context.Request.Path.Value))
    </div>

    <div>
        @*Right-aligned "toolbar" controls*@
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { action = $"{GlobalConfiguration.BasePath}{Context.Request.Path}" }))
{
    <div class="d-flex justify-content-end mb-4">
        <div class="flex-grow-1 me-2">
            @Html.TextBoxFor(x => x.SearchString, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">@Localizer["Search"]</button>
    </div>
}
@if (Model.Pages.Count > 0)
{
    @Html.Raw(PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
    <br />

    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Name")">@Localizer["Name"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Revision")">@Localizer["Revision"]</a></strong></td>
                <td><strong>@Localizer["Deleted Revisions"]</strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "ModifiedBy")">@Localizer["Modified By"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "ModifiedDate")">@Localizer["Modified Date"]</a></strong></td>
                <td><strong>@Localizer["Action"]</strong></td>
            </tr>
        </thead>

        @foreach (var p in Model.Pages)
        {
            <tr>
                <td>
                    @if (string.IsNullOrEmpty(@p.Namespace) == false)
                    {
                        <text><a href="@GlobalConfiguration.BasePath/Admin/Namespace/@p.Namespace">@p.Namespace</a> :: </text>
                    } <a href="@GlobalConfiguration.BasePath/@p.Navigation">@p.Title</a>
                </td>
                <td><a href="@GlobalConfiguration.BasePath/Admin/PageRevisions/@p.Navigation">@p.Revision</a></td>
                <td><a href="@GlobalConfiguration.BasePath/Admin/DeletedPageRevisions/@p.Id">@p.DeletedRevisionCount</a></td>
                <td>@p.ModifiedByUserName</td>
                <td>@p.ModifiedDate</td>
                <td>
                    @Html.Raw(ConfirmActionHelper.GenerateDangerLink(GlobalConfiguration.BasePath, 
                        Localizer["Deleting \"{0}\" will move the page, all {1} revisions and associated file attachments to the deletion queue. This action can only be undone by an administrator or moderator. Continue?"].Value(p.Name, p.Revision),
                        Localizer["Delete"].Value, "/Admin/DeletePage/" + @p.Id, Context.Request.Path.Value, @class: "btn-thin rounded-0"))
                </td>
            </tr>
        }
    </table>

    @Html.Raw(PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
}
else
{
    <div class="d-flex small text-muted mb-0">
        <strong>
            @Localizer["Either there are no pages or your search criteria returned no results."]
        </strong>
    </div>
}

<script>
    window.onload = function () {
        document.getElementById("SearchString").focus();
    }
</script>
