@model TightWiki.Models.ViewModels.Admin.PageRevisionsViewModel
@using TightWiki.Library
@using TightWiki.Models
@inject IViewLocalizer Localizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<h3>
    @Localizer["Page revisions for"] <a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation">@sessionState.Page.Name</a>.
</h3>

<p>
    @Localizer["All changes that have been made to the page."]<br /><br />
</p>

@if (Model.Revisions.Count > 0)
{
    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
    <br />

    <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "Revision")">@Localizer["Revision"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "ModifiedBy")">@Localizer["Modified By"]</a></strong></td>
                <td><strong><a href="?@QueryStringConverter.OrderHelper(sessionState, "ModifiedDate")">@Localizer["Modified Date"]</a></strong></td>
                <td><strong>@Localizer["Summary"]</strong></td>
                <td><strong>@Localizer["Action"]</strong></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var h in Model.Revisions)
            {
                <tr>
                    <td><a href="@GlobalConfiguration.BasePath/@sessionState.PageNavigation/@h.Revision" target="_blank" rel="noopener">@Html.DisplayTextFor(x => h.Revision)</a></td>
                    <td><a href="@GlobalConfiguration.BasePath/Profile/@h.ModifiedByUserName/Public">@Html.DisplayTextFor(x => h.ModifiedByUserName)</a></td>
                    <td>@Html.DisplayTextFor(x => h.ModifiedDate)</td>
                    <td>@Html.DisplayTextFor(x => h.ChangeSummary)</td>
                    <td>
                        @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateWarnLink(GlobalConfiguration.BasePath,
                            Localizer["Reverting {0} from revision {1} to {2} will rollback {3} changes.<br />Reverting does not mean that changes will be lost however, the revert process will create a new revision with the reverted changes.<br /><br />Are you sure you want to continue?<br /><br />"]
                                .Value(h.Name, h.HighestRevision, h.Revision, h.HigherRevisionCount),
                            Localizer["Revert"].Value, $"/Admin/RevertPageRevision/{h.Navigation}/{h.Revision}", Context.Request.Path.Value, @class: "btn-thin rounded-0"))

                        @Html.Raw(TightWiki.Library.ConfirmActionHelper.GenerateDangerLink(GlobalConfiguration.BasePath,
                            Localizer["Deleting revision {0} of \"{1}\" will move the page revision to the deletion queue. This action can only be undone by an administrator or moderator. Continue?"]
                                .Value(h.Revision, h.Name),
                            Localizer["Delete"].Value, $"/Admin/DeletePageRevision/{h.Navigation}/{h.Revision}", Context.Request.Path.Value, @class: "btn-thin rounded-0"))
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.Raw(TightWiki.Library.PageSelectorGenerator.Generate(Context.Request.QueryString, Model.PaginationPageCount))
}
else
{
    <div class="d-flex small text-muted mb-0">
        <strong>
            @Localizer["The selected page does not have any revisions."]
        </strong>
    </div>
}
