@model TightWiki.Shared.Models.View.RoleModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h3>Role : @Model.Name</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Single role membership configuration.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table border="0" width="100%" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="center">

                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        @if (Model.SuccessMessage!= null)
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <table class="table table-striped" border="0" width="100%" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                    </tr>
                                </thead>

                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td><a href="/Admin/Account/@user.Navigation">@user.AccountName</a></td>
                                    </tr>
                                }
                            </table>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
