@model TightWiki.Models.ViewModels.Admin.StatsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<div class="card">
    <div class="card-header"><h3>Statistics</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            <a href="http://NetworkDLS.com/">NetworkDLS</a> <a href="http://TightWiki.com/">TightWiki</a> version @Model.ApplicationVersion<br /><br />
        </font>

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">
                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        <h2>General</h2>
                        <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><strong>Pages</strong></td>
                                <td><strong>Page Revisions</strong></td>
                                <td><strong>Page Attachments</strong></td>
                                <td><strong>Inter-Page Links</strong></td>
                            </tr>

                            <tr>
                                <td>@Model.DatabaseStats.Pages</td>
                                <td>@Model.DatabaseStats.PageRevisions</td>
                                <td>@Model.DatabaseStats.PageAttachments</td>
                                <td>@Model.DatabaseStats.IntraLinks</td>
                            </tr>

                            <tr>
                                <td><strong>Page Tags</strong></td>
                                <td><strong>Page Attachment Revisions</strong></td>
                                <td><strong>Page Search Tokens</strong></td>
                                <td><strong>Users</strong></td>
                            </tr>

                            <tr>
                                <td>@Model.DatabaseStats.PageTags</td>
                                <td>@Model.DatabaseStats.PageAttachmentRevisions</td>
                                <td>@Model.DatabaseStats.PageSearchTokens</td>
                                <td>@Model.DatabaseStats.Users</td>
                            </tr>

                            <tr>
                                <td><strong>Profiles</strong></td>
                                <td><strong>Exceptions</strong></td>
                                <td><strong>&nbsp;</strong></td>
                                <td><strong>&nbsp;</strong></td>
                            </tr>

                            <tr>
                                <td>@Model.DatabaseStats.Profiles</td>
                                <td>@Model.DatabaseStats.Exceptions</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </table>

                        <h2>Cache</h2>
                        <table class="table fixedTable100 table-striped" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><strong>Items</strong></td>
                                <td><strong>Puts</strong></td>
                                <td><strong>Gets</strong></td>
                                <td><strong>Hits</strong></td>
                                <td><strong>Misses</strong></td>
                                <td><strong>Limit(MB)</strong></td>
                            </tr>


                            <tr>
                                <td>@TightWiki.Library.WikiCache.CacheItemCount.ToString("N0")</td>
                                <td>@TightWiki.Library.WikiCache.CachePuts.ToString("N0")</td>
                                <td>@TightWiki.Library.WikiCache.CacheGets.ToString("N0")</td>
                                <td>@TightWiki.Library.WikiCache.CacheHits.ToString("N0")</td>
                                <td>@TightWiki.Library.WikiCache.CacheMisses.ToString("N0")</td>
                                <td>@TightWiki.Library.WikiCache.CacheMemoryLimitMB.ToString("N0")</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
