@model TightWiki.Models.ViewModels.Admin.UtilitiesViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState;
}

<div class="card">
    <div class="card-header"><h3>Utilities</h3></div>
    <div class="card-body">
        <font size="4" face="ARIAL,HELVETICA">
            Various wiki administration utilities.<br /><br />
        </font>

        @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        }

        <table class="fixedTable100" border="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="52" valign="middle" align="left">

                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Html.Raw(Model.ErrorMessage)</div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Html.Raw(Model.SuccessMessage)</div>
                        }

                        <table class="table fixedTable100 table-striped" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>Rebuild page search index</td>
                                <td>
                                    <form action='/Admin/ConfirmAction?PostBack=/Admin/Utilities' method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="message" value="This will rebuild the search cache for all pages in the wiki. This could take some time! Continue?" />
                                        <button type="submit" class="btn btn-primary rounded-0" name="ActionToConfirm" value="RebuildPageSearchIndex">Execute</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Rebuild all pages</td>
                                <td>
                                    <form action='/Admin/ConfirmAction?PostBack=/Admin/Utilities' method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="message" value="This will rebuild all pages in the wiki. This could take some time! Continue?" />
                                        <button type="submit" class="btn btn-primary rounded-0" name="ActionToConfirm" value="RebuildAllPages">Execute</button>
                                    </form>
                                </td>
                            </tr>
                            @if (TightWiki.GlobalSettings.IsDebug == true)
                            {
                                <tr>
                                    <td>Create Self-Documentation</td>
                                    <td>
                                        <form action='/Admin/ConfirmAction?PostBack=/Admin/Utilities' method="post">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="message" value="This will build a wiki page for each built-in wiki function. Existing pages will not be overwritten. Continue?" />
                                            <button type="submit" class="btn btn-warning rounded-0" name="ActionToConfirm" value="CreateSelfDocumentation">Execute</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>Truncate page revisions</td>
                                <td>
                                    <form action='/Admin/ConfirmAction?PostBack=/Admin/Utilities' method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="message" value="Truncating page revisions will delete all revision history for all pages and files. This will leave only the most current revision of all objects. This is genrally considered a big deal! Continue?" />
                                        <button type="submit" class="btn btn-danger rounded-0" name="ActionToConfirm" value="TruncatePageRevisions">Execute</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td>Flush memory cache</td>
                                <td>
                                    <form action='/Admin/ConfirmAction?PostBack=/Admin/Utilities' method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="message" value="Flushing the memory cache will cause any cached items to be dropped and require database hits as pages are requested. Continue?" />
                                        <button type="submit" class="btn btn-warning rounded-0" name="ActionToConfirm" value="FlushMemoryCache">Execute</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
