@inject IViewLocalizer Localizer
@model TightWiki.Models.ViewModels.Utility.ConfirmActionViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");

    string cardClass = "card mb-3";
    string cardHeaderClass = "card-header";

    if (string.Equals(Model.Style, "Danger", StringComparison.InvariantCultureIgnoreCase))
    {
        cardHeaderClass += " bg-danger text-white";
        cardClass += " border-danger";
    }
    if (string.Equals(Model.Style, "Warn", StringComparison.InvariantCultureIgnoreCase))
    {
        cardHeaderClass += " bg-warning";
        cardClass += " border-warning";
    }
}

<div class="@cardClass">
    <div class="@cardHeaderClass">
        <strong>@Localizer["Are you sure?"]</strong>
    </div>
    <div class="card-body">

        @Html.Raw(@Model.Message)<br /><br />

        <form action='@Model.ControllerURL' method="post">
            @Html.HiddenFor(m => m.NoRedirectURL)
            @Html.HiddenFor(m => m.YesRedirectURL)
            @Html.HiddenFor(m => m.Message)
            @Html.HiddenFor(m => m.Style)

            @if (Model.Style == "Safe")
            {
                <div class="form-group"><button type="submit" class="btn btn-success" name="UserSelection" value="true">@Localizer["Yes"]</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success" name="UserSelection" value="false">@Localizer["No"]</button></div>
            }
            else if (Model.Style == "Warn")
            {
                <div class="form-group"><button type="submit" class="btn btn-warning" name="UserSelection" value="true">@Localizer["Yes"]</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success" name="UserSelection" value="false">@Localizer["No"]</button></div>
            }
            else
            {
                <div class="form-group"><button type="submit" class="btn btn-danger" name="UserSelection" value="true">@Localizer["Yes"]</button>&nbsp;&nbsp;<button type="submit" class="btn btn-success" name="UserSelection" value="false">@Localizer["No"]</button></div>
            }
        </form>
    </div>
</div>

