@model TightWiki.Models.ViewModels.Utility.NotifyViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    var wikiContext = ViewData["WikiContext"] as TightWiki.WikiContextState ?? throw new Exception("Wiki State Context cannot be null.");
}

<table class="fixedTable100" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td height="52" valign="middle" align="left">

                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger">
                        <strong>@Html.Raw(Model.ErrorMessage)</strong>
                        @if (string.IsNullOrEmpty(@Model.RedirectURL) == false)
                        {
                            <br />
                            <a href="@Model.RedirectURL">Continue</a>
                        }
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                {
                    <div class="alert alert-success">
                        <h4>@Html.Raw(Model.SuccessMessage)</h4>
                        @if (string.IsNullOrEmpty(@Model.RedirectURL) == false)
                        {
                            <p>
                                <a href="@Model.RedirectURL">Continue</a>
                            </p>
                        }
                    </div>
                }
            </td>
        </tr>
    </tbody>
</table>
