@model TightWiki.Shared.Models.View.ConfirmModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    tr.padded td {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
</style>

<div class="jumbotron">
    <h2>Account Email Verification</h2>

    @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
    {
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
    }

    @if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
    {
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
    }

    <table border="0" width="600" cellpadding="5">
        <tbody>
            <tr>
                <td height="52" valign="middle" align="center">

                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>
                    }
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success">@ViewBag.Success</div>
                    }

                    <font size="3" face="ARIAL,HELVETICA">
                        Already a member? <a href="/User/Login">Login</a>.<br />
                        Forgot your password? @Html.ActionLink("Reset it!", "Forgot", "User").<br />
                    </font>
                </td>
            </tr>
        </tbody>
    </table>
</div>
