@page
@inject IViewLocalizer Localizer
@model Disable2faModel
@{
    ViewData["Title"] = Localizer["Disable two-factor authentication (2FA)"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer["This action only disables 2FA."]</strong>
    </p>
    <p>
        @Localizer["Disabling 2FA does not change the keys used in authenticator apps."]
        <a asp-page="./ResetAuthenticator">@Localizer["If you wish to change the key used in an authenticator app you should reset your authenticator keys."]</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer["Disable 2FA"]</button>
    </form>
</div>
