@page
@inject IViewLocalizer Localizer
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = Localizer["Recovery codes"].Value;
    ViewData["ActivePage"] = "TwoFactorAuthentication";
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>@Localizer["Put these codes in a safe place."]</strong>
    </p>
    <p>
        @Localizer["If you lose your device and don't have the recovery codes you will lose access to your account."]
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
