@page
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = Localizer["Two-factor authentication (2FA)"].Value;
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    var sessionState = ViewData["SessionState"] as TightWiki.SessionState ?? throw new Exception("Wiki State Context cannot be null.");
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["You have no recovery codes left."]</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">@Localizer["You must generate a new set of recovery codes before you can log in with a recovery code."]</a></p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["You have 1 recovery code left."]</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">@Localizer["You can generate a new set of recovery codes."]</a></p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@String.Format(Localizer["You have {0} recovery codes left."].Value, Model.RecoveryCodesLeft)</strong>
                    <p><a asp-page="./GenerateRecoveryCodes">@Localizer["You should generate a new set of recovery codes."]</a></p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@Localizer["Forget this browser"]</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@Localizer["Disable 2FA"]</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Localizer["Reset recovery codes"]</a>
        }

        <h4>@Localizer["Authenticator app"]</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["Add authenticator app"]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["Set up authenticator app"]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Localizer["Reset authenticator app"]</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>@Localizer["Privacy and cookie policy have not been accepted."]</strong>
            <p>@Localizer["You must accept the policy before you can enable two factor authentication."]</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
