@model AsapWiki.Shared.Models.FormUserProfile
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    tr.padded td {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
</style>

<div class="jumbotron">
    <font size="4" face="ARIAL,HELVETICA">
        This is your user profile, do with it what you may.<br /><br />
    </font>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table border="0" width="400" cellpadding="5">
        <tbody>
            <tr>
                <td height="52" valign="middle" align="center">

                    <font size="5" face="ARIAL,HELVETICA" color="#e6e600">
                        @if (@ViewBag.Validation != null)
                        {<blockquote>@Html.Raw(@ViewBag.Validation)</blockquote>}
                    </font>

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                <table border="0">

                    <tr class="padded">
                        <td><strong>Avatar</strong></td>
                        <td>
                            <input type="file" id="Avatar" name="Avatar" onchange="fileCheck(this);" />
                        </td>
                    </tr>



                    <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.EmailAddress)</div></td></tr>
                    <tr class="padded">
                        <td><strong>@Html.LabelFor(m => m.EmailAddress)</strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "input-control" })
                        </td>
                    </tr>

                    <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.AccountName)</div></td></tr>
                    <tr class="padded">
                        <td><strong>@Html.LabelFor(m => m.AccountName)</strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.AccountName, new { @class = "input-control" })
                        </td>
                    </tr>

                    <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</div></td></tr>
                    <tr class="padded">
                        <td><strong>@Html.LabelFor(m => m.FirstName)</strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "input-control" })
                        </td>
                    </tr>

                    <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</div></td></tr>
                    <tr class="padded">
                        <td><strong>@Html.LabelFor(m => m.LastName)</strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "input-control" })
                        </td>
                    </tr>

                    <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.TimeZone)</div></td></tr>
                    <tr class="padded">
                        <td><strong>@Html.LabelFor(m => m.TimeZone)</strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.TimeZone, new { @class = "input-control" })
                        </td>
                    </tr>

                    <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.Country)</div></td></tr>
                    <tr class="padded">
                        <td><strong>@Html.LabelFor(m => m.Country)</strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.Country, new { @class = "input-control" })
                        </td>
                    </tr>

                    <tr><td colspan="2"><div class="text-danger">@Html.ValidationMessageFor(m => m.AboutMe)</div></td></tr>
                    <tr class="padded">
                        <td><strong>@Html.LabelFor(m => m.AboutMe)</strong></td>
                        <td>
                            @Html.TextBoxFor(m => m.AboutMe, new { @class = "input-control" })
                        </td>
                    </tr>

                    <tr class="padded">
                        <td>&nbsp;</td>
                        <td>
                            <div class="form-group"><button type="submit" class="btn btn-primary rounded-0">Signup!</button></div>
                        </td>
                    </tr>
                </table>
                    }

                    <font size="3" face="ARIAL,HELVETICA">
                        Already a member? <a href="/User/Login">Login</a>.<br />
                        Forgot your password? @Html.ActionLink("Reset it!", "Forgot", "User").<br />
                    </font>

                </td>
            </tr>
        </tbody>
    </table>
</div>
